<section class="inline-cart">
  {% if  cart.item_count == 0 %}
   <h5>
    Your bag is empty.
   </h5>
  {% else %}       
  <form action="/cart" method="post" id="cartform">
    {% for item in cart.items %}
      <div class="product">
        <a href="{{ item.product.url }}" title="{{ item.title | escape }}">
          <img src="{{ item.product.images.first | product_img_url" alt="{{ item.title | escape }}" width="60" height="60" />
        </a>
        <div class="product-details">
          <span class="title">{{ item.product.title }}</span>
          <span class="variant">{{ item.variant.title | remove: '/' }}</span>
          <span class="price">{{ item.price | money | remove: '.00' }}</span>
        </div>
      </div>
  {% endfor %}
      <div class="order-details">
        <div>  
          <span class="subtotal">Subtotal</span>
          <span class="price">{{ cart.total_price | money | remove: '.00' }}</span>
        </div>
        <table>
          <tr>
            <td align="center">
              <a class="cart" href="/cart">View Cart</a>
            </td>
            <td align="center">
              <input type="submit" value="Checkout" class="checkout" />
            </td>
          </tr>
        </table>    
      </div>
  </form>
  {% endif %}
</section>