{% case handle %}
  {% when 'riley-sheath-navy' or 'elliott-sheath-black' %}
    <h3>See five ways to style your</h3>
    <a class="week_in_life" href="http://blog.quincyapparel.com/post/29050243924/1-dress-5-looks" title="Blog">
      {{ product.title }} >
    </a>
  {% when 'emma-jacket' %}
    <h3>Go behind the scenes with the</h3>
    <a class="week_in_life" href="http://blog.quincyapparel.com/post/24971313245/the-polls-are-open" title="Blog">
      {{ product.title }} >
    </a>
  {% when 'jane-jacket' %}
    <h3>Check out how Alex wears her</h3>
    <a class="week_in_life" href="http://blog.quincyapparel.com/post/24077412332/alex-styles-the-jane-in-a-monochromatic-look" title="Blog">
      {{ product.title }} >
    </a>
  {% when 'chelsea-blazer-herringbone' %}
    <h3>See how Christina styles her</h3>
    <a class="week_in_life" href="http://blog.quincyapparel.com/post/24077068801/christina-adds-a-pop-of-color-to-the-chelsea" title="Blog">
      {{ product.title }} >
    </a>
  {% when 'kennedy-blouse-peplum' %}
    <h3>Casual friday rocks with the</h3>
    <a class="week_in_life" href="http://blog.quincyapparel.com/post/28148118006/casual-friday" title="Blog">
      {{ product.title }} >
    </a>
  {% when 'ansley-dress-berry' %}
    <h3>Covet celebrity style with the</h3>
    <a class="week_in_life" href="http://blog.quincyapparel.com/post/27407347735/covet-rihannas-style" title="Blog">
      {{ product.title }} >
    </a>
{% endcase %}