{% capture ss1 %}{{ product.handle }}-ss2-1.jpg{% endcapture %}
{% capture ss2 %}{{ product.handle }}-ss2-2.jpg{% endcapture %}
{% capture ss3 %}{{ product.handle }}-ss2-3.jpg{% endcapture %}
{% capture ss4 %}{{ product.handle }}-ss2-4.jpg{% endcapture %}
{% capture tag %}{{ product.handle }}-tag.png{% endcapture %}
<div class="slideshow2 float-l">
  <img class="tag" src="{{ tag | asset_url }}" />
  <img src="{{ ss1 | asset_url }}" alt="{{ product.name }}" title="{{ product.name }}" />
</div>