{% capture swatch_collection %}{{ product.handle | replace: "-", " " | truncatewords: 1, '' }}-swatch.jpg{% endcapture %}
{% capture swatch %}{{ product.handle }}-swatch.jpg{% endcapture %}
{% capture fiona_swatch_1 %}{{ product.handle }}-polkadot-swatch.jpg{% endcapture %}
{% capture fiona_swatch_2 %}{{ product.handle }}-plum-swatch.jpg{% endcapture %}
  {% case handle %}
    {% when 'cropped-blazer' %}
    <div>
      <img src="{{ 'swatch-detail.png' | asset_url }}" alt="" />
      <h2>Orange</h2>
      <ul>
        <li>lorem</li>
        <li>ipsum</li>
        <li>sit</li>
        <li>amet</li>
      </ul>
    </div>
    <div>
      <img src="{{ 'swatch-detail-navy.png' | asset_url }}" alt="" />
      <h2>Navy</h2>
      <ul>
        <li>lerom</li>
        <li>upsim</li>
        <li>sit</li>
        <li>ament</li>
      </ul>
    </div>
    {% when 'jane-jacket' or 'kennedy-blouse' or 'emma-jacket' or 'chloe-shirt' or 'chelsea-blazer-herringbone' or 'ansley-dress-berry' or 'riley-sheath-navy' %}
    <div>
      <img src="{{ swatch | asset_url }}" alt="{{ product.title }}" />
      {% when 'jane-jacket' %}
      <h2>Black & White Boucle</h2>
      <ul>
        <li>Silver-accented</li>
        <li>Italian wool-blend</li>
        <li>Medium weight</li>
        <li>Dry clean only</li>
      </ul>
      {% when 'kennedy-blouse' %}
      <h2>Stretch Crepe</h2>
      <ul>
        <li>Shape-retaining</li>
        <li>Stretch poly-blend crepe</li>
        <li>Light weight</li>
        <li>Machine-washable</li>
      </ul>
      {% when 'emma-jacket' %}
      <h2>White & Navy Boucle</h2>
      <ul>
        <li>Silver-accented</li>
        <li>Poly-cotton blend</li>
        <li>Light weight</li>
        <li>Dry clean only</li>
      </ul>
      {% when 'chloe-shirt' %}
      <h2>Stretch Cotton</h2>
      <ul>
        <li>Crisp Softness</li>
        <li>Not sheer or see-through</li>
        <li>5% elastane</li>
        <li>Machine-washable</li>
      </ul>
      {% when 'chelsea-blazer-herringbone' %}
      <h2>Herringbone</h2>
      <ul>
        <li>Cozy warmth</li>
        <li>100% wool</li>
        <li>Medium weight</li>
        <li>Dry clean only</li>
      </ul>
      {% when 'ansley-dress-berry' %}
      <h2>Ponte</h2>
      <ul>
        <li>Non-wrinkle</li>
        <li>Stretch cotton-blend</li>
        <li>Medium weight</li>
        <li>Machine washable</li>
      </ul>
      {% when 'riley-sheath-navy' %}
      <h2>Navy stretch</h2>
      <ul>
        <li>Perfect stretch</li>
        <li>Poly-blend</li>
        <li>Light weight</li>
        <li>Dry clean only</li>
      </ul>
    </div>
    {% when 'riley-blazer-cobalt' or 'riley-pant-cobalt' or 'riley-skirt-cobalt' or 'elliott-pencil-skirt' or 'elliott-sheath-skirt' or 'elliott-pant-black' or 'elliott-trouser-black' or 'elliott-sheath-black' or 'elliott-blazer-black' %}
    <div>
      <img src="{{ swatch_collection | asset_url }}" alt="{{ product.title }}" />
      {% when 'riley-blazer-cobalt' or 'riley-pant-cobalt' or 'riley-skirt-cobalt' %}
      <h2>Cobalt stretch</h2>
      <ul>
        <li>Perfect stretch</li>
        <li>Poly-blend</li>
        <li>Light weight</li>
        <li>Dry clean only</li>
      </ul>
      {% when 'elliott-pencil-skirt' or 'elliott-sheath-skirt' or 'elliott-pant-black' or 'elliott-trouser-black' or 'elliott-sheath-black' or 'elliott-blazer-black' %}
      <h2>Quincy black stretch wool</h2>
      <ul>
        <li>Perfect stretch</li>
        <li>98% wool; 2% elastane</li>
        <li>Light weight</li>
        <li>Dry clean only</li>
      </ul>
    </div>
    {% when 'fiona-blouse' %}
      <div>
        <img src="{{ fiona_swatch_1 | asset_url }}" alt="{{ product.name }}" />
        <h2>Silk crepe de chine</h2>
        <ul>
          <li>Not sheer</li>
          <li>Super-soft feel</li>
          <li>100% silk</li>
          <li>Dry clean only</li>
        </ul>
      </div>
      <div>
        <img src="{{ fiona_swatch_2 | asset_url }}" alt="{{ product.name }}" />
        <h2>Silk crepe de chine</h2>
        <ul>
          <li>Not sheer</li>
          <li>Super-soft feel</li>
          <li>100% silk</li>
          <li>Dry clean only</li>
        </ul>
      </div>
{% endcase %}
