{% capture swatch_collection %}{{ product.handle | replace: "-", " " | truncatewords: 1, '' }}-swatch.jpg{% endcapture %}
{% capture swatch %}{{ product.handle }}-swatch.jpg{% endcapture %}
{% capture fiona_swatch_1 %}{{ product.handle }}-polkadot-swatch.jpg{% endcapture %}
{% capture fiona_swatch_2 %}{{ product.handle }}-plum-swatch.jpg{% endcapture %}
  {% case handle %}
    {% when 'jane-jacket' or 'kennedy-blouse-peplum' or 'emma-jacket' or 'chloe-shirt' or 'chelsea-blazer-herringbone' or 'ansley-dress-berry' or 'riley-sheath-navy' %}
    <div>
      <img src="{{ swatch | asset_url }}" alt="{{ product.title }}" />
      {% when 'jane-jacket' %}
      <h2>Black &amp; White Boucle</h2>
      <ul>
        <li>Silver accent</li>
        <li>Wool-blend</li>
        <li>Mid-weight</li>
        <li>Dry clean</li>
      </ul>
      {% when 'kennedy-blouse-peplum' %}
      <h2>Stretch Crepe</h2>
      <ul>
        <li>Comfortable</li>
        <li>Poly-blend</li>
        <li>Lightweight</li>
        <li>Easy care</li>
      </ul>
      {% when 'emma-jacket' %}
      <h2>White &amp; Navy Boucle</h2>
      <ul>
        <li>Silver accent</li>
        <li>Poly-cotton</li>
        <li>Lightweight</li>
        <li>Dry clean</li>
      </ul>
      {% when 'chloe-shirt' %}
      <h2>Stretch Cotton</h2>
      <ul>
        <li>Soft</li>
        <li>Not sheer</li>
        <li>5% elastane</li>
        <li>Easy care</li>
      </ul>
      {% when 'chelsea-blazer-herringbone' %}
      <h2>Herringbone</h2>
      <ul>
        <li>Warm</li>
        <li>100% wool</li>
        <li>Mid-weight</li>
        <li>Dry clean</li>
      </ul>
      {% when 'ansley-dress-berry' %}
      <h2>Berry stretch ponte</h2>
      <ul>
        <li>Non-wrinkle</li>
        <li>Cotton-blend</li>
        <li>Mid-weight</li>
        <li>Easy care</li>
      </ul>
      {% when 'riley-sheath-navy' %}
      <h2>Navy stretch</h2>
      <ul>
        <li>Comfortable</li>
        <li>Poly-blend</li>
        <li>Lightweight</li>
        <li>Dry clean</li>
      </ul>
    </div>
    {% when 'riley-blazer-cobalt' or 'riley-pant-cobalt' or 'riley-skirt-cobalt' or 'elliott-pencil-skirt' or 'elliott-sheath-skirt' or 'elliott-pant-black' or 'elliott-trouser-black' or 'elliott-sheath-black' or 'elliott-blazer-black' %}
    <div>
      <img src="{{ swatch_collection | asset_url }}" alt="{{ product.title }}" />
      {% when 'riley-blazer-cobalt' or 'riley-pant-cobalt' or 'riley-skirt-cobalt' %}
      <h2>Cobalt stretch</h2>
      <ul>
        <li>Comfortable</li>
        <li>Poly-blend</li>
        <li>Lightweight</li>
        <li>Dry clean</li>
      </ul>
      {% when 'elliott-pencil-skirt' or 'elliott-sheath-skirt' or 'elliott-pant-black' or 'elliott-trouser-black' or 'elliott-sheath-black' or 'elliott-blazer-black' %}
      <h2>Quincy black wool</h2>
      <ul>
        <li>2% stretch</li>
        <li>Seasonless</li>
        <li>Lightweight</li>
        <li>Dry clean</li>
      </ul>
    </div>
    {% when 'fiona-blouse' %}
      <div>
        <img src="{{ fiona_swatch_1 | asset_url }}" alt="{{ product.name }}" />
        <h2>Silk crepe de chine</h2>
        <ul>
          <li>Not sheer</li>
          <li>Soft feel</li>
          <li>100% silk</li>
          <li>Dry clean</li>
        </ul>
      </div>
      <div>
        <img src="{{ fiona_swatch_2 | asset_url }}" alt="{{ product.name }}" />
        <h2>Silk crepe de chine</h2>
        <ul>
          <li>Not sheer</li>
          <li>Soft feel</li>
          <li>100% silk</li>
          <li>Dry clean</li>
        </ul>
      </div>
{% endcase %}
