{% capture look_1 %}{{ product.handle }}-look-1{% endcapture %}
{% capture look_2 %}{{ product.handle }}-look-2{% endcapture %}
{% capture look_3 %}{{ product.handle }}-look-3{% endcapture %}
{% capture look_4 %}{{ product.handle }}-look-4{% endcapture %}
<div>
  <ul>
    <li>Ray Ban sunglasses</li>
    <li>Vintage pendant necklace</li>
    <li>Kennedy blouse</li>
    <li>Theory pants</li>
  </ul>  <!-- DYNAMIC INFO DEPENDING ON IMAGE IN SLIDE SHOW -->
  <a href="/collections/{{ look_1 }}" title="Collection">Shop the Look ></a>
</div>
<div>
  <ul>
    <li>Second list</li>
    <li>Vintage pendant necklace</li>
    <li>Kennedy blouse</li>
    <li>Theory pants</li>
  </ul>  <!-- DYNAMIC INFO DEPENDING ON IMAGE IN SLIDE SHOW -->
  <a href="/collections/{{ look_2 }}" title="Collection">Shop the Look ></a>
</div>
<div>
  <ul>
    <li>Third list</li>
    <li>Vintage pendant necklace</li>
    <li>Kennedy blouse</li>
    <li>Theory pants</li>
  </ul>  <!-- DYNAMIC INFO DEPENDING ON IMAGE IN SLIDE SHOW -->
  <a href="/collections/{{ look_3 }}" title="Collection">Shop the Look ></a>
</div>
<div>
  <ul>
    <li>Fourth list</li>
    <li>Vintage pendant necklace</li>
    <li>Kennedy blouse</li>
    <li>Theory pants</li>
  </ul>  <!-- DYNAMIC INFO DEPENDING ON IMAGE IN SLIDE SHOW -->
  <a href="/collections/{{ look_4 }}" title="Collection">Shop the Look ></a>
</div>