<!doctype html>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<head>
  <script type="text/javascript" src="//use.typekit.net/duk7xno.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="canonical" href="{{ canonical_url }}" /> 
  <link rel="Shortcut icon" href="{{ 'favicon.ico' | asset_url }}" />
  {% include 'metaDescription' %}
  {{ 'style.css' | asset_url | stylesheet_tag }}
  {% if product or collection %}
  <style type="text/css">
    section.main-nav nav ul li:first-child {
      -moz-box-shadow: 0 0 4px -1px rgba(100, 100, 100, 0.4);
      -webkit-box-shadow: 0 0 4px -1px rgba(100, 100, 100, 0.4);
      box-shadow: 0 0 4px -1px rgba(100, 100, 100, 0.4);
    }
  </style>
  {% endif %}
  {% comment %} 
    Open Graph tags for Facebook Like buttons 
  {% endcomment %} 
  <meta property="og:site_name" content="{{ shop.name | escape }}" />
  {% if template contains 'product' %}
    <meta property="og:image" content="{{ product.featured_image | product_img_url: 'compact' }}" />
  {% else %}
    {% if settings.logo_image == "logo.png" %}
      <meta property="og:image" content="{{ 'logo.png' | asset_url }}" />
    {% endif %}
  {% endif %}  

  {% if template == 'index' %}
   <title>{{ shop.name }}</title>
  {% elsif template == '404' %}
    <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
   <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" type="text/css" media="screen">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
  
  {{ content_for_header }}
</head>

<body>
  <div class="wrapper">
    <header>
      <a href="/collections/jackets" class="promo">Shop 50% off all blazers store-wide</a>   
      <div class="cart-container">
        <div>
        {% if customer %}
          <a href="/account">Welcome Back {{ customer.first_name | escape }}!</a>
          {{ '(Logout)' | customer_logout_link }}
        {% else %}
          {{ 'Login' | customer_login_link }}
        {% endif %}
        <a class="inline-cart" href="#">
          <img src="{{ 'shopping_bag.png' | asset_url }}" alt="Shopping Bag">
          <span class="cart_count">
           {{ cart.item_count }}
          </span>
        </a>
        </div>
      </div>
      {% include 'cart' %}
    </header>
    
    <section class="main-nav">
      <a href="/" title="Quincy">
        <img src="{{ 'logo.png' | asset_url }}" alt="Quincy" />
      </a>
      <nav>
        <ul>
          <li><a href="/collections/all" title="Shop">Shop</a>
          {% if collection or product %}
            <ul class="sub-nav">
              <li><a href="/collections/all">All</a></li>
              <li><a href="/collections/blouses">Blouses</a></li>
              <li><a href="/collections/blazers">Blazers</a></li>
              <li><a href="/collections/dresses">Dresses</a></li>
              <li><a href="/collections/suiting">Suiting</a></li>
              <li><a href="/collections/looks">Looks</a></li>
            </ul>
          {% endif %}
          </li>
          <li><a href="http://blog.quincyapparel.com" title="Blog">Blog</a></li>
          <li><a href="/pages/meet-quincy" title="Meet Quincy">Meet Quincy</a></li>
        </ul>
      </nav>
    </section>
    
      {{ content_for_layout }}
    
    <footer>
      <div class="bar">
      </div>
      <section>
        <div>
          <a href="/pages/showroom" title="Quincy Showroom">Visit our NYC showroom ></a>
        </div>
        <div id="mc_embed_signup">
          <label>Sign up for our newsletters</label>
          <!-- Begin MailChimp Signup Form -->
            <form action="http://quincyapparel.us2.list-manage.com/subscribe/post?u=f6e489de52006317fd8404e9d&amp;id=1e4f0636a3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">	
              <input type="text" value="Email" name="EMAIL" class="email" id="mce-EMAIL" onclick="clickclear(this,'Email')" onblur="clickrecall(this,'Email')" />    
              <input type="submit" value="Join Us" name="subscribe" id="mc-embedded-subscribe" onclick="pageTracker._trackEvent('Mailing List', 'Subscribe');" class="button" />
            </form>
          <!--End mc_embed_signup-->
        </div>
        <div class="social">
          <ul>
            <li>
              <a class="facebook" href="http://www.facebook.com/quincyapparel">
                Facebook
              </a>
            </li>
            <li>
              <a class="twitter" href="http://www.twitter.com/quincyapparel">
                Twitter
              </a>
            </li>
            <li>
              <a class="pinterest" href="http://www.pinterest.com/quincyapparel">
                Pinterest
              </a>
            </li>
          </ul>
        </div>
      </section>
      <nav>
        <ul>
          <li><a href="/pages/quincy-fit" title="The Quincy Fit">The Quincy Fit</a></li>
          <li><a href="/pages/shipping-and-returns" title="Shipping & Returns">Shipping &amp; Returns</a></li>
          <li><a href="/pages/faq" title="FAQ">FAQ</a></li>
          <li><a href="/pages/about" title="About">About</a></li>
          <li><a href="/pages/contact" title="Contact">Contact</a></li>
          <li><a href="/pages/terms-and-conditions" title="Terms & Conditions">Terms &amp; Conditions</a></li>
        </ul>
      </nav>
    </footer> 
  </div><!-- WRAPPER -->
  {% include 'olark' %}
  {% if product %}
  <script type="text/javascript">
  var selectCallback = function(variant, selector) {
    var buyButton = $("#add-to-cart");
      if (variant && variant.available) {
        // selected a valid variant
        buyButton.removeClass('disabled').removeAttr('disabled'); // remove unavailable class from add-to-cart button, and re-enable button
        if(variant.inventory_quantity == 0){
          buyButton.val("Add to Bag").removeClass("sold-out default").addClass("default");
          $("div#purchase p").css({ display: "inline-block" });
        }
        else{
          buyButton.val("Add to Bag").removeClass("pre-order sold-out default");
          $("div#purchase p").css({ display: "none" });
        }
      }
      else {
        if($("#product-select-option-0").val() == "Length" || $("#product-select-option-1").val() == "Bust" || $("#product-select-option-0").val() == "Waist" || $("#product-select-option-1").val() == "Inseam" || $("#product-select-option-1").val() == "Length" || $("#product-select-option-1").val() == "Waist" || $("#product-select-option-0").val() == "Inseam"){
          buyButton.val("Add to Bag").removeClass("pre-order sold-out").addClass("default");
          $("div#purchase p").css({ display: "none" });
        }
        else{
          buyButton.val("Out of Stock").addClass("sold-out").removeClass("pre-order default");
          $("div#purchase p").css({ display: "none" });
        }
        // variant doesn't exist
        buyButton.addClass('disabled').attr('disabled', 'disabled'); // set add-to-cart button to unavailable class and disable button
      }
      $("#product-select-option-1").change(function() {
              $("div.fits-like p").hide();
              if ($(":contains(32)", this).is(":selected")) {
                  $("div.fits-like p").eq(0).show();
              }
              else if ($(":contains(34)", this).is(":selected")) {
                  $("div.fits-like p").eq(1).show();
              }
              else if ($(":contains(36)", this).is(":selected")) {
                  $("div.fits-like p").eq(2).show();
              }
              else if ($(":contains(38)", this).is(":selected")) {
                  $("div.fits-like p").eq(3).show();
              }
              else if ($(":contains(40)", this).is(":selected")) {
                  $("div.fits-like p").eq(4).show();
              }
              else {}
          });
      };
    // initialize multi selector for product
    $(function() {
      new Shopify.OptionSelectors(
                                  "product-select", 
                                  { product: {{ product | json }}, onVariantSelected: selectCallback }
                                  );  
    });
  </script>
  {% endif %}
  <script type="text/javascript">
    function clickclear(thisfield, defaulttext) {
    	if (thisfield.value == defaulttext) {
    	thisfield.value = "";
    	}
    	}

    	function clickrecall(thisfield, defaulttext) {
    	if (thisfield.value == "") {
    	thisfield.value = defaulttext;
    	}
    	}
  </script>
  {% include 'nav-highlight' %}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {% if template contains 'customers' %}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
      {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %} 
  {{ "script.js"  | asset_url | script_tag }}  
</body>
</html>