<!doctype html>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<style type="text/css">
  section.main-nav, section.inline-cart {
    outline: 1px solid #d7d7d7;
  }
  section.inline-cart {
  border-top: none;
  }
</style>
{% if product or collection %}
<style type="text/css">
  section.main-nav nav ul li:first-child {
    outline: 1px solid #d7d7d7;
  }
  section.main-nav ul.sub-nav li:first-child {
  outline: none;
  }
</style>
{% endif %}
<![endif]-->
<!--[if IE 9]>
{% if product or collection %}
<style type="text/css">
  section.love_it ul {
  width: 250px;
  }
</style>
{% endif %}
<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="canonical" href="{{ canonical_url }}" /> 
  <link rel="Shortcut icon" href="{{ 'favicon.ico' | asset_url }}" />
  {% include 'metaDescription' %}
  {{ 'style.css' | asset_url | stylesheet_tag }}
  <script type="text/javascript" src="//use.typekit.net/duk7xno.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  {{ 'fitquiz.css' | asset_url | stylesheet_tag }}
  {{ 'usrandguests.css' | asset_url | stylesheet_tag }}
  {% if product or collection %}
  <style type="text/css">
    section.main-nav nav ul li:first-child {
      -moz-box-shadow: 0 0 4px -1px rgba(100, 100, 100, 0.4);
      -webkit-box-shadow: 0 0 4px -1px rgba(100, 100, 100, 0.4);
      box-shadow: 0 0 4px -1px rgba(100, 100, 100, 0.4);
    }
  </style>
  {% endif %}
  {% if template == 'product.gift-card' %}
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" type="text/css" />
    {% endif %}
  {% if  product.type == "Pants" %}
    <style type="text/css" media="screen">
      div.buy-menu div.lower-container a.field, div.buy-menu ul.selector {
        width: 118px;
      }
      ul.selector li {
        width: 108px;
      }
    </style>
  {% endif %}
  {% comment %} 
    Open Graph tags for Facebook Like buttons 
  {% endcomment %} 
  <meta property="og:site_name" content="{{ shop.name | escape }}" />
  {% if template contains 'product' %}
    <meta property="og:image" content="{{ product.featured_image | product_img_url: 'compact' }}" />
  {% else %}
    <meta property="og:image" content="{{ 'logo.png' | asset_url }}" />
  {% endif %}  

  {% if template == 'index' %}
   <title>{{ shop.name }} | {{ shop.description }}</title>
   <!--[if lt IE 9]>
     <script type="text/javascript">
       alert("It looks like you may be using an outdated version of Internet Explorer.  For the best shopping experience, we suggest you upgrade your browswer to IE9 or switch to Firefox, Chrome, or Safari.");
     </script>
   <![endif]-->
  {% elsif template == '404' %}
    <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
   <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
  {{ 'jquery.touchSwipe.min.js' | asset_url | script_tag }}
  {{ 'jquery.cookie.js' | asset_url | script_tag }}
  {{ content_for_header }}
</head>

<body>
  <div class="wrapper">
    <header>
    <section class="main-nav">
      <a href="/" title="Quincy">
        <img src="{{ 'logo.png' | asset_url }}" alt="Quincy" />
      </a>
      <nav>
        <ul>
          <li><a href="/collections/shop" title="Shop">Shop</a>
          {% if collection or product %}
            <ul class="sub-nav">
              <li><a href="/collections/shop">All</a></li>
              <li><a href="/collections/blazers">Blazers</a></li>
              <li><a href="/collections/blouses">Blouses</a></li>
              <li><a href="/collections/dresses">Dresses</a></li>
              <li><a href="/collections/pants">Pants</a></li>
              <li><a href="/collections/skirts">Skirts</a></li>
              <li><a href="/collections/collections">Collections</a></li>
              <li><a href="/collections/looks">Looks</a></li>
            </ul>
          {% endif %}
          </li>
          <li><a href="http://blog.quincyapparel.com" title="Blog">Blog</a></li>
          <li><a href="/pages/meet-quincy" title="Meet Quincy">Meet Quincy</a></li>
        </ul>
      </nav>
    </section>
        {% if customer %}
            <a href="/pages/second-size" class="promo">Get a free Second Size with your first ></a>
        {% else %}
            <a class="promo take-fit-quiz" href="#" title="Fit Quiz">Find Your Perfect Size &mdash; Create a profile and get 15% off &nbsp;></a>
        {% endif %}
      <div class="cart-container">
        <div>
        {% if customer %}
          <a href="/account">Welcome Back {{ customer.first_name | escape }}!</a>
        {% else %}
          {{ 'Login' | customer_login_link }}
        {% endif %}
        <a class="inline-cart" href="#">
          <img src="{{ 'shopping_bag.png' | asset_url }}" alt="Shopping Bag">
          <span class="cart_count">
           {{ cart.item_count }}
          </span>
        </a>
        </div>
      </div>
      {% include 'cart' %}
    </header>    
      {{ content_for_layout }}
    <footer>
      <div class="bar">
      </div>
      <img class="logos" src="{{ 'logos2.png' | asset_url }}" />
      <section>
        <div>
          <a href="/pages/showroom" title="Quincy Showroom">Visit our NYC showroom ></a>
        </div>
        <div id="mc_embed_signup">
          <label>Sign up for our newsletter</label>
          <!-- Begin MailChimp Signup Form -->
            <form action="http://quincyapparel.us2.list-manage.com/subscribe/post?u=f6e489de52006317fd8404e9d&amp;id=1e4f0636a3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">    
              <input type="text" value="Email" name="EMAIL" class="email" id="mce-EMAIL" onclick="clickclear(this,'Email')" onblur="clickrecall(this,'Email')" />    
              <input type="submit" value="Join Us" name="subscribe" id="mc-embedded-subscribe" onclick="pageTracker._trackEvent('Mailing List', 'Subscribe');" class="button" />
            </form>
          <!--End mc_embed_signup-->
        </div>
        <div class="social">
          <ul>
            <li>
              <a class="facebook" href="http://www.facebook.com/quincyapparel">
                Facebook
              </a>
            </li>
            <li>
              <a class="twitter" href="http://www.twitter.com/quincyapparel">
                Twitter
              </a>
            </li>
            <li>
              <a class="pinterest" href="http://www.pinterest.com/quincyapparel">
                Pinterest
              </a>
            </li>
          </ul>
        </div>
      </section>
      <nav>
        <ul>
          <li><a href="/pages/second-size" title="Try A Second Size">Second Size</a></li>
          <li><a href="/pages/size-charts" title="Size Charts">Size Charts</a></li>
          <li><a href="/pages/shipping-and-returns" title="Shipping & Returns">Shipping &amp; Returns</a></li>
          <li><a href="/pages/about" title="About">About</a></li>
          <li><a href="/pages/contact" title="Contact">Contact</a></li>
          <li><a href="/pages/press" title="Press">Press</a></li>
          <li><a href="/pages/terms-and-conditions" title="Terms & Conditions">Terms &amp; Conditions</a></li>
        </ul>
      </nav>
    </footer> 
  </div><!-- WRAPPER -->
  {% include 'olark' %}
  {% if product %}
  <script type="text/javascript">
  var selectCallback = function(variant, selector) {
    var buyButton = $("#add-to-cart");
    var prod_sel0 = $("#product-select-option-0");
    var prod_sel1 = $("#product-select-option-1");
      if (variant && variant.available) {
        // selected a valid variant
        buyButton.removeClass('disabled').removeAttr('disabled'); // remove unavailable class from add-to-cart button, and re-enable button
        if(variant.inventory_quantity <= 0){
          buyButton.val("Add to Bag").removeClass("sold-out default")
                                     {% unless product.type == "Pants" or product.type == "Skirts" %}
                                       .addClass("default");
                                    {% endunless %}
          $("div#purchase p").css({ display: "none" });
          $("div#purchase p:last-child").css({ display: "inline-block" });
        }
        else{
          buyButton.val("Add to Bag").removeClass("pre-order sold-out default");
          $("div#purchase p").css({ display: "none" });
          {% case handle %}
            {% when 'ansley-dress-berry' %}
              $("div#purchase p").css({ display: "none" });
            {% when 'chelsea-blazer-herringbone' %}
             $("div#purchase p").css({ display: "none" });
            {% when 'chloe-shirt'%}
              $("div#purchase p").css({ display: "none" });
            {% when 'fiona-blouse' %}
              $("div#purchase p").css({ display: "none" });
            {% when 'elliott-pencil-skirt' %}
              $("div#purchase p:last-child").css({ display: "inline-block" });
            {% when 'elliott-sheath-black' %}
              $("div#purchase p").css({ display: "none" });
            {% when 'elliott-blazer-black' %}
              $("div#purchase p").css({ display: "none" });
            {% when 'elliott-trouser-black' %}
              $("div#purchase p:last-child").css({ display: "inline-block" });
            {% when 'elliott-pant-black' %}
              $("div#purchase p:last-child").css({ display: "inline-block" });
            {% when 'elliott-sheath-skirt' %}
              $("div#purchase p:last-child").css({ display: "inline-block" });
            {% when 'riley-sheath-navy' %} 
              $("div#purchase p").css({ display: "none" });
            {% when 'riley-blazer-cobalt' %}
              $("div#purchase p").css({ display: "none" });
            {% when 'riley-pant-cobalt' %}
              $("div#purchase p:last-child").css({ display: "inline-block" });
            {% when 'riley-skirt-cobalt' %} 
              $("div#purchase p:last-child").css({ display: "inline-block" });
          {% endcase %}
        }
      }
      else {
        if(prod_sel0.val() == "Length" || prod_sel1.val() == "Bust" || prod_sel0.val() == "Waist" || prod_sel1.val() == "Inseam" || prod_sel1.val() == "Length" || prod_sel1.val() == "Waist" || prod_sel0.val() == "Inseam"){
          buyButton.val("Add to Bag").removeClass("pre-order sold-out").addClass("default");
          $("div#purchase p").css({ display: "none" });
        }
        else{
          buyButton.val("Out of Stock").addClass("sold-out").removeClass("pre-order default");
          $("div#purchase p").css({ display: "none" });
        }
        // variant doesn't exist
        buyButton.addClass('disabled').attr('disabled', 'disabled'); // set add-to-cart button to unavailable class and disable button
        if(!$.cookie('fq_top') && !$.cookie('fq_length') && !$.cookie('fq_waist')){}
      }
      {% unless product.type == "Pants" or product.type == "Skirts" %}
      prod_sel1.change(function() {
              $("div.fits-like p").hide();
              if ($(":contains(32)", this).is(":selected")) {
                  $("div.fits-like p").eq(0).show();
              }
              else if ($(":contains(34)", this).is(":selected")) {
                  $("div.fits-like p").eq(1).show();
              }
              else if ($(":contains(36)", this).is(":selected")) {
                  $("div.fits-like p").eq(2).show();
              }
              else if ($(":contains(38)", this).is(":selected")) {
                  $("div.fits-like p").eq(3).show();
              }
              else if ($(":contains(40)", this).is(":selected")) {
                  $("div.fits-like p").eq(4).show();
              }
              else {}
          });
        {% endunless %}
      };
    // initialize multi selector for product
    $(function() {
      new Shopify.OptionSelectors(
        "product-select", 
        { product: {{ product | json }}, onVariantSelected: selectCallback }
      );  
    });
  </script>
  {% endif %}
  <script type="text/javascript">
    function clickclear(thisfield, defaulttext) {
    	if (thisfield.value == defaulttext) {
    	thisfield.value = "";
    	}
    	}

    	function clickrecall(thisfield, defaulttext) {
    	if (thisfield.value == "") {
    	thisfield.value = defaulttext;
    	}
    	}
  </script>
  {% include 'nav-highlight' %}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {% if template contains 'customers' %}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
      {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %} 
  {{ "script.js"  | asset_url | script_tag }}  
<script type="text/javascript">
$(document).ready(function(){
    if($('.take-fit-quiz').length > 0){
        var $data = $().add('<div id="fq-wrap">'); // Create empty object
        $($data).load('/pages/fq #fit-quiz-top', function(){
            $('.wrapper').prepend($data);
            $('.select-box').styleddropdown();
        // load fq script
        $.getScript('{{ 'fq.min.js' | asset_url }}');
        $.getScript('{{ 'quirks.js' | asset_url }}',function(data,textStatus,jqxhr){
            $('.take-fit-quiz').click(function(){
        	    $('#fit-quiz-top').slideDown(600);
			    return false;
		    });
        });
        });

         {% if template == 'product' %}
        $.getScript('{{ 'jq_select.js' | asset_url }}');
        {% endif %}        
    } // Load the fitquiz data when the id is found on the page.
    {% if template == 'collection.looks' %}
        $('#product-select option').each(function(){
            var fq_top = $.cookie('fq_top').substring(0,2);
            var fq_bust = $.cookie('fq_bust').substr(2,1)+'/'+$.cookie('fq_bust').substr(3,1);
            var fq_length = $.cookie('fq_length');
            var fq_waist = $.cookie('fq_waist');
    
            if($(this).text().indexOf(fq_length) > 0 && $(this).text().indexOf(fq_top) > 0 && $(this).text().indexOf(fq_bust) > 0 ){
        	    $(this).attr('selected',true);
	            }//else if($(this).text().indexOf(fq_waist) > 0 && $(this).text().indexOf(fq_length) > 0 ){
			    //$(this).attr('selected',true);
	       //}
            });
    {% endif %}
});
</script>
<script type="text/javascript">
var sc_project=8053095; 
var sc_invisible=1; 
var sc_security="dc731200"; 
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
</body>
</html>