<section class="collection">
    {% if collection.products.size > 0 %}
      <ul>
        {% for product in collection.products %}
          {% case product.handle %}
            {% when 'elliott-pant-black' or 'elliott-sheath-black' or 'riley-skirt-cobalt' %} 
              <li>
                <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
                  <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
                </a>
                <div>
                  <a href="{{ product.url }}">
                    {{ product.title }}  
                  </a>
                  <span class="money">{{ product.price | money | remove: '.00' }}</span>
                </div>
              </li>
              <div class="details">
                <h1>&ldquo;{{ product.description }}&rdquo;</h1>
                <div class="border">
                {% when 'elliott-pant-black' %}
                <p>Pair these skinnies with a sweet blouse or throw on a matching blazer for a complete polished look.</p>
                <a href="{{ product.url }}" title="{{ product.title }}">Shop the {{ product.title }} ></a>
                </div>
              </div>
                {% when 'elliott-sheath-black' %}
                <p>This LBD is equally ready for the workplace or cocktails-pair it with a statement necklace and booties for a classic look with edge.</p>
                <a href="{{ product.url }}" title="{{ product.title }}">Shop the {{ product.title }} ></a>
                </div>
              </div>
                {% when 'riley-skirt-cobalt' %}
                <p>Spice up your neutral work palette with the rich jewel tones of the Riley collection.</p>
                <a href="{{ product.url }}" title="{{ product.title }}">Shop the {{ product.title }} ></a>
                </div>
              </div>              
              {% when 'kennedy-blouse-peplum' %}
              <div class="details left">
                <h1>&ldquo;{{ product.description }}&rdquo;</h1>
                <div class="border">
              <p>Take the hottest silhouette from the runways to work with a pencil and out afterwards with skinnies, it's our favorite multi-tasker.</p>
              <a href="{{ product.url }}" title="{{ product.title }}">Shop the {{ product.title }} ></a>
              </div>
            </div>
              {% when 'emma-jacket' %}
              <div class="details left">
                <h1>&ldquo;{{ product.description }}&rdquo;</h1>
                <div class="border">
                <p>Our favorite Jane jacket is updated in a fresh white and navy boucle with delicate silver accent.</p>
                <a href="{{ product.url }}" title="{{ product.title }}">Shop the {{ product.title }} ></a>
              </div>
            </div>
            {% when 'kennedy-blouse-peplum' or 'emma-jacket' %}
            <li>
              <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
                <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
              </a>
              <div>
                <a href="{{ product.url }}">
                  {{ product.title }}  
                </a>
                <span class="money">{{ product.price | money | remove: '.00' }}</span>
              </div>
            </li>
            {% when 'fiona-blouse' %}
            <li>
              <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
                <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
              </a>
              <div>
                <a href="{{ product.url }}">
                  {{ product.title }}
                </a>
                <span class="money">{{ product.price | money | remove: '.00' }}</span>
                <ul class="fiona-blouse">
                  <li>Plum</li>
                  <li>Polkadot</li>
                </ul>
              </div>
            </li>
            {% else %}
              <li>
                <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
                  <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
                </a>
                <div>
                  <a href="{{ product.url }}">
                    {{ product.title }}
                  </a>
                  <span class="money">{{ product.price | money | remove: '.00' }}</span>
                </div>
              </li>
          {% endcase %}
        {% endfor %}
      </ul>
    
    {% else %}    
      <strong>No products found in this collection.</strong>
    {% endif %}
</section>