<section class="collection">
    {% if collection.products.size > 0 %}
      <ul>
        {% for product in collection.products %}
          {% case product.handle %}
            {% when 'jane-jacket' or 'kennedy-blouse-peplum' or 'elliott-sheath-black' or 'elliott-pant-black' or 'elliott-pencil-skirt' %} 
              <li>
                <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
                  <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
                </a>
                <div>
                  <a href="{{ product.url }}">
                    {{ product.title }}  
                  </a>
                  <span class="money">{{ product.price | money | remove: '.00' }}</span>
                </div>
              </li>
              <div class="details">
                <h1>&#0147;{{ product.description }}&#0148;</h1>
                <div class="border">
                <p>Lorem ipsum dolor sit amet, consectetur adipicsing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid.</p>
                <a href="{{ product.url }}" title="{{ product.title }}">Ut hendrerit, quam in ornare ></a>
                </div>
              </div>
            {% else %}
              <li>
                <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
                  <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
                </a>
                <div>
                  <a href="{{ product.url }}">
                    {{ product.title }}
                  </a>
                  <span class="money">{{ product.price | money | remove: '.00' }}</span>
                </div>
              </li>
          {% endcase %}
        {% endfor %}
      </ul>
    
    {% else %}    
      <strong>No products found in this collection.</strong>
    {% endif %}
</section>