<!-- MAKE EMPTY COLLECTION CALLED SUITING THAT USES THIS TEMPLATE -->
<section class="collection">
    {% if collections[the-riley-collection].image %}
    <div class="suiting_description left">
      <h1>{{ collections[the-riley-collection].title }}</h1>
      {{ collections[the-riley-collection].description }}
      <img class="suiting_image" src="{{ collections[the-riley-collection].image.src | collection_img_url: 'original' }}">
    </div>
    {% endif %}
      <ul>
        {% for product in collections[the-riley-collection].products %}
          <li>
            <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
              <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
            </a>
            <div>
              <a href="{{ product.url }}">
                {{ product.title }}  
              </a>
              <span class="money">{{ product.price | money | remove: '.00' }}</span>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% if collections[the-elliott-collection].image %}
      <div class="suiting_description right">
        <h1>{{ collections[the-elliott-collection].title }}</h1>
        {{ collections[the-elliott-collection].description }}
        <img class="suiting_image" src="{{ collections[the-elliott-collection].image.src | collection_img_url: 'original' }}">
      </div>
      {% endif %}
        <ul>
          {% for product in collections[the-elliot-collection].products %}
            <li>
              <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
                <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
              </a>
              <div>
                <a href="{{ product.url }}">
                  {{ product.title }}  
                </a>
                <span class="money">{{ product.price | money | remove: '.00' }}</span>
              </div>
            </li>
          {% endfor %}
        </ul>
</section>