<!-- MAKE EMPTY COLLECTION CALLED look THAT USES THIS TEMPLATE -->
<section class="collection_looks">
  <div>
    <img class="hero" src="{{ 'look1.jpg' | asset_url }}" />
    <div class="description right">
      <h4 class="white">&ldquo;Stand out in a sea of gray and black.&rdquo;</h4>
      <p class="white">Riley blazer <span>$228</span>, Riley pencil skirt <span>$128</span></p>
      <input type="button" name="Buy Outfit" value="Buy This Outfit">
    </div>
  </div>
  <ul>
    {% for product in collections.look1.products %}
      <li>
        <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
          <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
        </a>
        <div>
          <a href="{{ product.url }}">
            {{ product.title }}  
          </a>
          <span class="money">{{ product.price | money | remove: '.00' }}</span>
          {% include'add-to-cart' %}
        </div>
      </li>
    {% endfor %}
  </ul>
  <div>
    <img class="hero" src="{{ 'look2.jpg' | asset_url }}" />
    <div class="description right">
      <h4>&ldquo;Unexpected pairings add panache to a pencil.&rdquo;</h4>
      <p>Elliott blazer <span>$228</span>, Kennedy peplum blouse <span>$78</span>, Elliott pencil skirt <span>$128</span></p>
      <input type="button" name="Buy Outfit" value="Buy This Outfit">
    </div>
  </div>
  <ul>
    {% for product in collections.look2.products %}
      <li>
        <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
          <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
        </a>
        <div>
          <a href="{{ product.url }}">
            {{ product.title }}  
          </a>
          <span class="money">{{ product.price | money | remove: '.00' }}</span>
          {% include'add-to-cart' %}
        </div>
      </li>
    {% endfor %}
  </ul>
  <div>
    <img class="hero" src="{{ 'look3.jpg' | asset_url }}" />
    <div class="description left">
      <h4>&ldquo;Simplicity will take you far.&rdquo;</h4>
      <p>Chloe shirt <span>$88</span>, Elliott cigarette pant <span>$128</span></p>
      <input type="button" name="Buy Outfit" value="Buy This Outfit">
    </div>
  </div>
  <ul>
    {% for product in collections.look3.products %}
      <li>
        <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
          <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
        </a>
        <div>
          <a href="{{ product.url }}">
            {{ product.title }}  
          </a>
          <span class="money">{{ product.price | money | remove: '.00' }}</span>
          {% include'add-to-cart' %}
        </div>
      </li>
    {% endfor %}
  </ul>
  <div>
    <img class="hero" src="{{ 'look4.jpg' | asset_url }}" />
    <div class="description left">
      <h4>Friday afternoons are a cinch.</h4>
      <p>Ansley dress <span>$138</span>, Elliott blazer <span>$228</span></p>
      <input type="button" name="Buy Outfit" value="Buy This Outfit">
    </div> 
  </div>
  <ul>
    {% for product in collections.look4.products %}
      <li>
        <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
          <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
        </a>
        <div>
          <a href="{{ product.url }}">
            {{ product.title }}  
          </a>
          <span class="money">{{ product.price | money | remove: '.00' }}</span>
          {% include'add-to-cart' %}
        </div>
      </li>
    {% endfor %}
  </ul>
  <div>
    <img class="hero" src="{{ 'look5.jpg' | asset_url }}" />
    <div class="description right">
      <h4>&ldquo;Navy’s a canvas for patterns and cashmere.&rdquo;</h4>
      <p>Riley sheath dress <span>$158</span></p>
      <input type="button" name="Buy Outfit" value="Buy This Outfit">
    </div>
  </div>
  <ul>
    {% for product in collections.look5.products %}
      <li>
        <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
          <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
        </a>
        <div>
          <a href="{{ product.url }}">
            {{ product.title }}  
          </a>
          <span class="money">{{ product.price | money | remove: '.00' }}</span>
          {% include'add-to-cart' %}
        </div>
      </li>
    {% endfor %}
  </ul>
  <div>
    <img class="hero" src="{{ 'look6.jpg' | asset_url }}" />
    <div class="description right">
      <h4>&ldquo;Strong and feminine ring true in this power suit.&rdquo;</h4>
      <p>Elliott blazer <span>$228</span>, Fiona bow blouse in polka dot <span>$118</span>, Elliott cigarette pant <span>$128</span></p>
      <input type="button" name="Buy Outfit" value="Buy This Outfit">
    </div>
  </div>
  <ul>
    {% for product in collections.look6.products %}
      <li>
        <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
          <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
        </a>
        <div>
          <a href="{{ product.url }}">
            {{ product.title }}  
          </a>
          <span class="money">{{ product.price | money | remove: '.00' }}</span>
          {% include'add-to-cart' %}
        </div>
      </li>
    {% endfor %}
  </ul>
  <div>
    <img class="hero" src="{{ 'look7.jpg' | asset_url }}" />
    <div class="description left">
      <h4>&ldquo;The Emma lends itself to a textured play on patterns&rdquo;</h4>
      <p>Emma jacket <span>$258</span>, Fiona bow blouse <span>$118</span>, Riley cigarette pant <span>$128</span></p>
      <input type="button" name="Buy Outfit" value="Buy This Outfit">
    </div>
  </div>
  <ul>
    {% for product in collections.look7.products %}
      <li>
        <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
          <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
        </a>
        <div>
          <a href="{{ product.url }}">
            {{ product.title }}  
          </a>
          <span class="money">{{ product.price | money | remove: '.00' }}</span>
          {% include'add-to-cart' %}
        </div>
      </li>
    {% endfor %}
  </ul>
  <div>
    <img class="hero" src="{{ 'look8.jpg' | asset_url }}" />
    <div class="description right">
      <h4>&ldquo;Color's your best friend in vivid cobalt suiting.&rdquo;</h4>
      <p class="white">Riley blazer <span>$228</span>, Fiona bow blouse in Plum <span>$118</span>, Elliott cigarette pant <span>$128</span></p>
      <input type="button" name="Buy Outfit" value="Buy This Outfit">
    </div>
  </div>
  <ul>
    {% for product in collections.look8.products %}
      <li>
        <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
          <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
        </a>
        <div>
          <a href="{{ product.url }}">
            {{ product.title }}  
          </a>
          <span class="money">{{ product.price | money | remove: '.00' }}</span>
          {% include'add-to-cart' %}
        </div>
      </li>
    {% endfor %}
  </ul>
  <div>
    <img class="hero" src="{{ 'look9.jpg' | asset_url }}" />
    <div class="description right">
      <h4 class="white">&ldquo;Saunter in fashionably late.&rdquo;</h4>
      <p class="white">Elliott blazer <span>$228</span>, Elliot trouser <span>$138</span></p>
      <input type="button" name="Buy Outfit" value="Buy This Outfit">
    </div>  
  </div>
  <ul>
    {% for product in collections.look9.products %}
      <li>
        <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
          <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
        </a>
        <div>
          <a href="{{ product.url }}">
            {{ product.title }}  
          </a>
          <span class="money">{{ product.price | money | remove: '.00' }}</span>
          {% include'add-to-cart' %}
        </div>
      </li>
    {% endfor %}
  </ul>
  <div>
    <img class="hero" src="{{ 'look10.jpg' | asset_url }}" />
    <div class="description left">
      <h4>&ldquo;Pairing brights is a snap with jewel-toned berry hues&rdquo;</h4>
      <p>Fiona bow blouse in Plum <span>$118</span>, Riley pencil skirt <span>$128</span></p>
      <input type="button" name="Buy Outfit" value="Buy This Outfit">
    </div>  
  </div>
  <ul>
    {% for product in collections.look10.products %}
      <li>
        <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
          <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
        </a>
        <div>
          <a href="{{ product.url }}">
            {{ product.title }}  
          </a>
          <span class="money">{{ product.price | money | remove: '.00' }}</span>
          {% include'add-to-cart' %}
        </div>
      </li>
    {% endfor %}
  </ul>
</section>