<section class="collection">
    {% if collection.products.size > 0 %}
      <ul>
        {% for product in collection.products %}
          {% case product.handle %}
            {% when 'elliott-pant-black' or 'elliott-sheath-black' or 'riley-skirt-cobalt' %} 
              <li class="collection-item">
                <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
                  <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
                </a>
                <div>
                  <a href="{{ product.url }}">
                    {{ product.title }}  
                  </a>
                  <span class="money serif">{{ product.price | money | remove: '.00' }}</span>
                </div>
              </li>
              <div class="details">
                <h1 class="serif">&ldquo;{{ product.description }}&rdquo;</h1>
                <div class="border">
                {% when 'elliott-pant-black' %}
                <p>Pair these skinnies with a sweet blouse or throw on a matching blazer for a complete polished look.</p>
                <a href="{{ product.url }}" title="{{ product.title }}">Shop the {{ product.title }} ></a>
                </div>
              </div>
                {% when 'elliott-sheath-black' %}
                <p>This LBD is equally ready for the workplace or cocktails-pair it with a statement necklace and booties for a classic look with edge.</p>
                <a href="{{ product.url }}" title="{{ product.title }}">Shop the {{ product.title }} ></a>
                </div>
              </div>
                {% when 'riley-skirt-cobalt' %}
                <p>Spice up your neutral work palette with the rich jewel tones of the Riley collection.</p>
                <a href="{{ product.url }}" title="{{ product.title }}">Shop the {{ product.title }} ></a>
                </div>
              </div>              
              {% when 'kennedy-blouse-peplum' %}
              <div class="details left">
                <h1 class="serif collection-left">&ldquo;{{ product.description }}&rdquo;</h1>
                <div class="border">
              <p class="collection-left">Take the hottest silhouette from the runways to work with a pencil and out afterwards with skinnies, it's our favorite multi-tasker.</p>
              <a class="collection-left" href="{{ product.url }}" title="{{ product.title }}">Shop the {{ product.title }} ></a>
              </div>
            </div>
              {% when 'emma-jacket' %}
              <div class="details left">
                <h1 class="serif collection-left">&ldquo;{{ product.description }}&rdquo;</h1>
                <div class="border">
                <p class="collection-left">Our favorite Jane jacket is updated in a fresh white and navy boucle with delicate silver accent.</p>
                <a class="collection-left" href="{{ product.url }}" title="{{ product.title }}">Shop the {{ product.title }} ></a>
              </div>
            </div>
            {% when 'kennedy-blouse-peplum' or 'emma-jacket' %}
            <li class="collection-item">
              <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
                <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
              </a>
              <div>
                <a href="{{ product.url }}">
                  {{ product.title }}  
                </a>
                <span class="money serif">{{ product.price | money | remove: '.00' }}</span>
              </div>
            </li>
            {% when 'fiona-blouse' %}
            <li class="collection-item">
              <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
                <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
              </a>
              <div>
                <a href="{{ product.url }}">
                  {{ product.title }}
                </a>
                <span class="money serif">{{ product.price | money | remove: '.00' }}</span>
                {% comment %}
                <!-- <ul class="collection-swatches">
                  <li class="plum-swatch">Plum</li>
                  <li class="polkadot-swatch">Polkadot</li>
                </ul> -->
                {% endcomment %}
              </div>
            </li>
            <li class="collection-item">
              <a href="/products/fiona-blouse" title="Fiona Bow blouse — Polka Dot">
                <img src="{{ 'collection-fiona-polk-dot.jpg' | asset_url }}" alt="Fiona Bow Blouse" />
              </a>
              <div>
                <a href="/products/fiona-blouse">
                  Fiona Bow Blouse
                </a>
                <span class="money serif">$118</span>
              </div>
            </li>
            {% when 'ansley-dress-berry' %}
            <li class="collection-item">
              <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
                <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
              </a>
              <div>
                <a href="{{ product.url }}">
                  {{ product.title }}
                </a>
                <span class="money serif">{{ product.price | money | remove: '.00' }}</span>
                {% comment %}
                <!-- <ul class="collection-swatches">
                  <li class="berry-swatch">Berry</li>
                  <li class="black-swatch">Black</li>
                </ul> -->
                {% endcomment %}
              </div>
            </li>
            <li class="collection-item">
              <a href="/products/ansley-dress-berry" title="Ansley Dress &mdash; Black">
                <img src="{{ 'collection-ansley-black.jpg' | asset_url }}" alt="Ansley Dress" />
              </a>
              <div>
                <a href="/products/ansley-dress-berry">
                  Ansley Dress
                </a>
                <span class="money serif">$138</span>
              </div>
            </li>
            {% else %}
              <li class="collection-item">
                <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
                  <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
                </a>
                <div>
                  <a href="{{ product.url }}">
                    {{ product.title }}
                  </a>
                  <span class="money serif">{{ product.price | money | remove: '.00' }}</span>
                </div>
              </li>
          {% endcase %}
        {% endfor %}
      </ul>
    
    {% else %}    
      <strong>No products found in this collection.</strong>
    {% endif %}
</section>