<section>
  <div class="index image_one">
    <a href="{{ settings.main_page_1_link }}" title="{{ settings.main_page_1_text }}">
      <img src="{{ 'image_one.jpg' | asset_url }}" alt="Image One" />
    </a>
    <span class="white serif-thin"> {{ settings.main_page_1_big }}</span>
    <a class="white image_one index" href="{{ settings.main_page_1_link }}" title="{{ settings.main_page_1_text }}">
      {{ settings.main_page_1_text }} &gt;
    </a>
  </div>
  <div class="index image_two">
    <a href="{{ settings.main_page_2_link }}" title="{{ settings.main_page_2_text }}">
      <img src="{{ 'image_two.jpg' | asset_url }}" alt="Image Two" />
    </a>
    <a class="image_two index" href="{{ settings.main_page_2_link }}" title="{{ settings.main_page_2_text }}">
      {{ settings.main_page_2_text }} &gt;
    </a>
  </div>
  <div class="index image_three">
    <a href="{{ settings.main_page_3_link }}" title="{{ settings.main_page_3_text }}">
      <img src="{{ 'image_three.jpg' | asset_url }}" alt="Image Three" />
    </a>
    <a class="image_three index" href="{{ settings.main_page_3_link }}" title="{{ settings.main_page_3_text }}">
      {{ settings.main_page_3_text }} &gt;
    </a>
  </div>
</section>
<section class="promo blue">
  <div>
    <span>Find your perfect size</span>
    <a class="take-fit-quiz blue serif-thin" href="#" title="Fit Quiz">
      Take the Quiz >
    </a>
  </div>
  <div>
    <span>We make shopping easy</span>
    <a class="blue serif-thin" href="/pages/second-size" title="Second Size">
      Get a Second Size >
    </a>
  </div>
  <div>
    <span>Visit us in NYC</span>
    <a class="blue serif-thin" href="/pages/showroom" title="Fit Quiz">
      Come to our showroom >
    </a>
  </div>
</section>