<section>
  <div class="index image_one">
    <img src="{{ 'image_one.png' | asset_url }}" alt="Image One" />
    <div>
    <span> &ldquo;{{ settings.main_page_1_big }} &rdquo;</span>
    <a href="{{ settings.main_page_1_link }}" title="Chelsea Jacket">{{ settings.main_page_1_text }} ></a>
    </div>
  </div>
  <div class="index image_two">
    <img src="{{ 'image_two.png' | asset_url }}" alt="Image One" />
    <div>
    <span> &ldquo;{{ settings.main_page_2_big }} &rdquo;</span>
    <a href="{{ settings.main_page_2_link }}" title="Cropped Blazer">{{ settings.main_page_2_text }} ></a>
    </div>
  </div>
  <div class="index image_three">
    <img src="{{ 'image_three.png' | asset_url }}" alt="Image One" />
    <div>
    <a href="{{ settings.main_page_3_link }}" title="Gainsavoort">{{ settings.main_page_3_text }} ></a>
    </div>
  </div>
</section>
<section class="promo">
  <div>
    <span>Find your perfect fit</span>
    <a href="/pages/fq" title="Fit Quiz">
      Take the Quiz >
    </a>
  </div>
  <div>
    <span>This one's on us</span>
    <a href="/pages/second-size" title="Second Size">
      Try a Second Size >
    </a>
  </div>
  <div>
    <span>Visit us in NYC</span>
    <a href="/pages/showroom" title="Fit Quiz">
      Come to our showroom >
    </a>
  </div>
</section>