<section>
  <div class="index image_one">
    <a href="{{ settings.main_page_1_link }}" title="{{ settings.main_page_1_text }}">
      <img src="{{ 'image_one.jpg' | asset_url }}" alt="Image One" />
    </a>
    <div>
    <span> &ldquo;{{ settings.main_page_1_big }}&rdquo;</span>
    <a class="image_one index" href="{{ settings.main_page_1_link }}" title="{{ settings.main_page_1_text }}">{{ settings.main_page_1_text }} ></a>
    </div>
  </div>
  <div class="index image_two">
    <a href="{{ settings.main_page_2_link }}" title="{{ settings.main_page_2_text }}">
      <img src="{{ 'image_two.jpg' | asset_url }}" alt="Image Two" />
    </a>
    <div>
    <a class="image_two index" href="{{ settings.main_page_2_link }}" title="{{ settings.main_page_2_text }}">
      Introducing<br />The Riley collection >
    </a>
    </div>
  </div>
  <div class="index image_three">
    <a href="{{ settings.main_page_3_link }}" title="{{ settings.main_page_3_text }}">
      <img src="{{ 'image_three.jpg' | asset_url }}" alt="Image Three" />
    </a>
    <div>
    <a class="image_three index" href="{{ settings.main_page_3_link }}" title="{{ settings.main_page_3_text }}">{{ settings.main_page_3_text }} ></a>
    </div>
  </div>
</section>
<section class="promo">
  <div>
    <span>Find your perfect size</span>
    <a class="take-fit-quiz" href="#" title="Fit Quiz">
      Take the Quiz >
    </a>
  </div>
  <div>
    <span>We make shopping easy</span>
    <a href="/pages/second-size" title="Second Size">
      Get a Second Size >
    </a>
  </div>
  <div>
    <span>Visit us in NYC</span>
    <a href="/pages/showroom" title="Fit Quiz">
      Come to our showroom >
    </a>
  </div>
</section>