<section>
  <div class="index image_one">
    <a href="{{ settings.main_page_1_link }}" title="{{ settings.main_page_1_text }}">
      <img src="{{ 'image_one.jpg' | asset_url }}" alt="Image One" />
    </a>
    <span class="white serif-thin"> &ldquo;{{ settings.main_page_1_big }}&rdquo;</span>
    <a class="image_one index white" href="{{ settings.main_page_1_link }}" title="{{ settings.main_page_1_text }}">{{ settings.main_page_1_text }} ></a>
  </div>
  <div class="index image_two">
    <a href="/products/kennedy-blouse-peplum" title="The Kennedy Blouse">
      <img src="{{ 'image_two.jpg' | asset_url }}" alt="Image Two" />
    </a>
    <a class="image_two index" href="/products/kennedy-blouse-peplum" title="The Kennedy Blouse">
      Shop the Kennedy Blouse &gt;
    </a>
  </div>
  <div class="index image_three">
    <a href="{{ settings.main_page_3_link }}" title="{{ settings.main_page_3_text }}">
      <img src="{{ 'image_three.jpg' | asset_url }}" alt="Image Three" />
    </a>
    <a class="image_three index white" href="{{ settings.main_page_3_link }}" title="{{ settings.main_page_3_text }}">{{ settings.main_page_3_text }} ></a>
  </div>
</section>
<section class="promo blue">
  <div>
    <span>Find your perfect size</span>
    <a class="take-fit-quiz blue serif-thin" href="#" title="Fit Quiz">
      Take the Quiz >
    </a>
  </div>
  <div>
    <span>We make shopping easy</span>
    <a class="blue serif-thin" href="/pages/second-size" title="Second Size">
      Get a Second Size >
    </a>
  </div>
  <div>
    <span>Visit us in NYC</span>
    <a class="blue serif-thin" href="/pages/showroom" title="Fit Quiz">
      Come to our showroom >
    </a>
  </div>
</section>