<section class="collection press">
  <h1 class="serif no-spacing">Press</h1>
  <ul>
    <li>
      <a href="http://thegrindstone.com/career-management/fashionable-work-clothes-designers-968/" title="Grindstone">
        <img src="{{ 'grindstone.jpg' | asset_url }}" alt="" />
      </a>
      <div>
        <a href="http://thegrindstone.com/career-management/fashionable-work-clothes-designers-968/">
          The Grindstone
        </a>
        <span class="money serif">09.13.12</span>
      </div>
    </li>
    <li>
      <a href="http://blog.quincyapparel.com/post/29413383501/co-founder-christina-wallace-in-marie-claire" title="Marie Claire At Work">
        <img src="{{ 'marieclaire.jpg' | asset_url }}" alt="" />
      </a>
      <div>
        <a href="http://blog.quincyapparel.com/post/29413383501/co-founder-christina-wallace-in-marie-claire">
          Marie Claire at Work
        </a>
        <span class="money serif">08.12</span>
      </div>
    </li>
    <li>
      <a href="http://www.wwd.com/markets-news/textiles/new-york-citys-garment-center-revs-up-6220400" title="WWD">
        <img src="{{ 'wwd.jpg' | asset_url }}" alt="" />
      </a>
      <div>
        <a href="http://www.wwd.com/markets-news/textiles/new-york-citys-garment-center-revs-up-6220400">
          Women's Wear Daily
        </a>
        <span class="money serif">09.05.12</span>
      </div>
    </li>
    <li>
      <a href="http://www.wwd.com/markets-news/textiles/new-york-citys-garment-center-revs-up-6220400" title="WWD">
        <img src="{{ 'people-style-watch.jpg' | asset_url }}" alt="" />
      </a>
      <div>
        <a href="http://www.wwd.com/markets-news/textiles/new-york-citys-garment-center-revs-up-6220400">
          People Style Watch
        </a>
        <span class="money serif">08.12</span>
      </div>
    </li>
    <li>
      <a href="http://online.wsj.com/article/SB10001424052702304451104577392652319112084.html" title="WSJ">
        <img src="{{ 'wsj.jpg' | asset_url }}" alt="" />
      </a>
      <div>
        <a href="http://online.wsj.com/article/SB10001424052702304451104577392652319112084.html">
          Wallstreet Journal
        </a>
        <span class="money serif">05.09.12</span>
      </div>
    </li>
    <li>
      <a href="http://www.luckymag.com/blogs/luckyrightnow/2012/03/Quincy-Apparel-Goes-Live-Today-Custom-Fit-Without-The-Huge-Pricetag" title="Lucky">
        <img src="{{ 'lucky.jpg' | asset_url }}" alt="" />
      </a>
      <div>
        <a href="http://www.luckymag.com/blogs/luckyrightnow/2012/03/Quincy-Apparel-Goes-Live-Today-Custom-Fit-Without-The-Huge-Pricetag">
          Lucky
        </a>
        <span class="money serif">03.26.12</span>
      </div>
    </li>
    <li>
      <a href="http://www.refinery29.com/quincy-apparel-launches-new-line" title="Refinery29">
        <img src="{{ 'refinery29.jpg' | asset_url }}" alt="" />
      </a>
      <div>
        <a href="http://www.refinery29.com/quincy-apparel-launches-new-line">
          Refinery29
        </a>
        <span class="money serif">03.25.12</span>
      </div>
    </li>
    <li>
      <a href="http://allthingsd.com/20120406/rethinking-how-to-sell-womens-clothes-this-time-with-bra-sizes/" title="All Things D">
        <img src="{{ 'allthingsd.jpg' | asset_url }}" alt="" />
      </a>
      <div>
        <a href="http://allthingsd.com/20120406/rethinking-how-to-sell-womens-clothes-this-time-with-bra-sizes/">
          All Things D
        </a>
        <span class="money serif">04.06.12</span>
      </div>
    </li>
    <li>
      <a href="http://mashable.com/2012/04/06/quincy/" title="Mashable">
        <img src="{{ 'mashable.jpg' | asset_url }}" alt="" />
      </a>
      <div>
        <a href="http://mashable.com/2012/04/06/quincy/">
          Mashable
        </a>
        <span class="money serif">04.06.12</span>
      </div>
    </li>
    <li>
      <a href="http://www.businessoffashion.com/2012/03/bof-daily-digest-versace-returns-to-profit-shoptiques-pull-quincy-conquers-sizing-manolos-bath-hm-luxury.html" title="Business of Fashion">
        <img src="{{ 'bof.jpg' | asset_url }}" alt="" />
      </a>
      <div>
        <a href="http://www.businessoffashion.com/2012/03/bof-daily-digest-versace-returns-to-profit-shoptiques-pull-quincy-conquers-sizing-manolos-bath-hm-luxury.html">
          Business of Fashion
        </a>
        <span class="money serif">03.28.12</span>
      </div>
    </li>
    <li>
      <a href="http://www.businessweek.com/articles/2012-05-01/womens-suits-the-perfect-fit-is-all-in-the-bust" title="BloombergBusinessweek">
        <img src="{{ 'bloomberg.jpg' | asset_url }}" alt="" />
      </a>
      <div>
        <a href="http://www.businessweek.com/articles/2012-05-01/womens-suits-the-perfect-fit-is-all-in-the-bust">
          Businessweek
        </a>
        <span class="money serif">05.01.12</span>
      </div>
    </li>
    <li>
      <a href="http://www.businessinsider.com/this-design-house-has-figured-out-how-to-sell-custom-clothing-cheaply-2012-3?op=1" title="Business Insider">
        <img src="{{ 'businessinsider.jpg' | asset_url }}" alt="" />
      </a>
      <div>
        <a href="http://www.businessinsider.com/this-design-house-has-figured-out-how-to-sell-custom-clothing-cheaply-2012-3?op=1">
          Business Insider
        </a>
        <span class="money serif">03.28.12</span>
      </div>
    </li>
    <li>
      <a href="http://www.forbes.com/sites/dailymuse/2012/04/03/the-perfect-match-finding-the-right-co-founder/" title="Forbes">
        <img src="{{ 'forbes.jpg' | asset_url }}" alt="" />
      </a>
      <div>
        <a href="http://www.forbes.com/sites/dailymuse/2012/04/03/the-perfect-match-finding-the-right-co-founder/">
          Forbes
        </a>
        <span class="money serif">04.03.12</span>
      </div>
    </li>
    <li>
      <a href="http://www.crainsnewyork.com/article/20120401/SUB/120339977" title="Crain's">
        <img src="{{ 'crain.jpg' | asset_url }}" alt="" />
      </a>
      <div>
        <a href="http://www.crainsnewyork.com/article/20120401/SUB/120339977">
          Crain's New York
        </a>
        <span class="money serif">04.02.12</span>
      </div>
    </li>
    <li>
      <a href="http://www.businessinsider.com/quincy-apparel-wants-to-maximize-operational-efficiency-2012-8" title="BostonInno">
        <img src="{{ 'businessinsider2.jpg' | asset_url }}" alt="" />
      </a>
      <div>
        <a href="http://www.businessinsider.com/quincy-apparel-wants-to-maximize-operational-efficiency-2012-8">
          Business Insider
        </a>
        <span class="money serif">08.16.12</span>
      </div>
    </li>
    <li>
      <a href="http://guestofaguest.com/new-york/events/quincy-apparel-launch-party-at-tribeca-grand-hotel" title="Guest of a Guest">
        <img src="{{ 'gog.jpg' | asset_url }}" alt="" />
      </a>
      <div>
        <a href="http://guestofaguest.com/new-york/events/quincy-apparel-launch-party-at-tribeca-grand-hotel">
          Guest of a Guest
        </a>
        <span class="money serif">03.29.12</span>
      </div>
    </li>
    <li>
      <a href="http://bostinno.com/2012/03/29/quincy-two-hbs-grads-design-womens-clothes-that-actually-fit/" title="BostonInno">
        <img src="{{ 'bostoninno.jpg' | asset_url }}" alt="" />
      </a>
      <div>
        <a href="http://bostinno.com/2012/03/29/quincy-two-hbs-grads-design-womens-clothes-that-actually-fit/">
          BostonInno
        </a>
        <span class="money serif">03.29.12</span>
      </div>
    </li>
    <li>
      <a href="http://www.fashinvest.com/fashinvest-profile-quincy-apparel-tailoring-womens-attire/" title="BostonInno">
        <img src="{{ 'fashinvest.jpg' | asset_url }}" alt="" />
      </a>
      <div>
        <a href="http://www.fashinvest.com/fashinvest-profile-quincy-apparel-tailoring-womens-attire/">
          FashInvest
        </a>
        <span class="money serif">08.23.12</span>
      </div>
    </li> 
  </ul>
</section>