<section class="page">
  {{ page.content }}
  <div class="page">
    <h1>About Quincy</h1>
  </div>
  <div class="about">
    <img src="{{ 'cofounders.jpg' | asset_url }}" alt"Alex and Christina">
    <p>Quincy co-founders Alex Nelson and Christina Wallace met at Harvard Business School and quickly became friends after bonding over their love of all things fashion.</p>
    <p>After graduation, Christina moved to Washington DC and Alex to London, both returning to corporate offices and a wardrobe of professional wear. After having fashion freedom at school, they soon resented getting dressed in the morning, forced into boring, ill-fitting, and often over-priced pieces that lacked any semblance of personality.</p>
    <p>They soon realized no one was making clothes for them &mdash; real, up-and-coming, on-the-go professional women. What if there were clothes that were boardroom-appropriate but still allowed them to feel as stylish and authentic at work as they did in their downtime? And, what if those clothes actually fit well and didn't break the bank?</p>
    <p>A quick survey of their friends showed many women wanted just the same thing. So Alex and Christina decided to move to New York and start a new kind of fashion company &mdash; a line that would make their friends feel like their usual confident, stylish selves, even when they were at work. They started manufacturing right here in NYC to ensure the highest quality production, and before they knew it they were quite literally selling the blazers right off their backs.</p>    
  </div>
  <div class="team">
    <h2>The Team</h2>   
    <div class="team_member">
      <img src="{{ 'christina-wallace.jpg' | asset_url}}" alt="Christina" />  
      <p><span>What is your favorite place in the entire world?</span> Interlochen Center for the Arts, a summer camp and boarding school in Northern Michigan that is almost 100 years old. Out in the middle of nowhere, situated between two lakes, the campus is filled-to-the-brim with talented, passionate kids. It’s a unique place that brings together artists from different perspectives and fosters creativity in a magical way.</p>
      <h4>Christina Wallace</h4>
      <h3>Co-founder &amp; CEO</h3>
    </div>
    <div class="team_member">
      <img src="{{ 'alex-nelson.jpg' | asset_url}}" alt="Alex" />   
      <p><span>If you could meet anyone in fashion‘s present or past, who would it be?</span>
      Sarah Jessica Parker and her closet. Not only did she star in my favorite TV show of all-time, but she is always on the bleeding edge of fashion in real-life too. I love how she mixes vintage and modern, feminine and edgy, classic and avant-garde for a completely fresh take on fashion.</p>
      <h4>Alex Nelson</h4>
      <h3>Co-founder &amp; COO</h3>
    </div>
    <div class="team_member">
      <img src="{{ 'althea-harper.jpg' | asset_url}}" alt="Althea" />  
      <p><span>What would be your ultimate perfect Saturday?</span> My perfect day starts by waking up with my husband and dog. We’d go for a walk and get breakfast before taking a bike ride through the woods. Then I’d head to the beach with my girlfriends to picnic, gossip, share ideas and get inspired. Afterwards we’d go to a photo exhibit, then get Thai drunken noodles and drinks. Topped off with dancing and laughing until we can’t stay awake any longer.</p>
      <h4>Althea Harper</h4>
      <h3>Fashion Designer</h3>
    </div>
    <div class="team_member">
      <img src="{{ 'alain-machado.jpg' | asset_url}}" alt="Alain" />  
      <p><span>Who has been the biggest influence on your sense of style?</span>
        My interest in fashion and style sense started from reading fashion magazines during high school. I fell in love with this particular pair of Prada shoes that led me to their New York flagship on Madison Avenue. From that point on I knew I had to work in the industry.</p>
      <h4>Alain Machado</h4>
      <h3>Director of Product Development</h3>
    </div>
    <div class="team_member">
      <img src="{{ 'sarah-mccollum.jpg' | asset_url}}" alt="Sarah" />  
      <p><span>If you could travel anywhere, where would you go?</span> Two places that have been on my list for a long, long time are India and Northern Africa. Morocco and Egypt both fascinate me, the same way Israel does. Turkey surprised me by being the favorite place I’ve been so far; it feels so ancient and yet so modern at the same time. That part of the world has been on my mind ever since. But my next trip is probably going to be a road trip through South America. Motorcycle Diaries-style.</p>
      <h4>Sarah McCollum</h4>
      <h3>Merchandising</h3>
    </div>
    <div class="team_member">
      <img src="{{ 'stuart-nelson.jpg' | asset_url}}" alt="Stuart" />  
      <p><span>What are your favorite trends for Fall?</span>
      Definitely earth-tones, preferably in the form of a fleece hoodie + tshirt (the more unassuming the better). Add well-worn jeans paired with suede puma shoes (in grape leaf-black coffee) and you have a killer style that'll keep you looking good until the snow hits the ground. Score extra points with retro koss headphones that say "I want you to think I'm hip for having old headphones, but in truth I just never bothered to get new ones."</p>
      <h4>Stuart Nelson</h4>
      <h3>Developer</h3>
    </div>
    <div class="team_member">
      <img src="{{ 'chelsa-skees.jpg' | asset_url}}" alt="Chelsa" />  
      <p><span>What’s your favorite item of clothing you’ve ever owned?</span> I find a new favorite item for each season &mdash; from summer jersey tees to fall leather boots to winter wool outerwear.  Of course, I have a few pieces that I've held on to for a long time like a tee from the 80's my mom handed down to me &mdash; it’s incredibly soft. But my loyalties don't go far when it comes to clothing except my love of basics. My taste generally changes with the weather.</p>
      <h4>Chelsa Skees</h4>
      <h3>Stylist &amp; Creative Director</h3>
    </div>  
    <div class="team_member">
      <img src="{{ 'dee-rivera.jpg' | asset_url}}" alt="Dee" />  
      <p><span>What inspires you?</span> Working closely with designers from inception to production to maintain the aesthetic and integrity of their vision has been a lifelong passion. I’ve spent over 30 years working in patternmaking and technical design in the apparel industry, so it comes as second nature to be a specialist in the fit of a garment. On weekends I love to practice thrift-store alchemy, turning vintage dresses into gold through multimedia art.</p>
      <h4>Dee Rivera</h4>
      <h3>Technical Designer</h3>
    </div>
    <div class="team_member">
      <img src="{{ 'aixza-valmon.jpg' | asset_url}}" alt="Aixza" />  
      <p><span>What are your top three essentials for good style?</span> Can I say four? First of all, definitely a bright lipstick. I didn’t know how to rock it when I was younger, but I think women grow into being able to wear great lipstick. Also, perfect-fitting jeans with an amazing blazer or leather jacket. And of course, a smashing pair of shoes. I swear I wear a new pair every day of the year.</p>
      <h4>Aixza Valmon</h4>
      <h3>Director of Production</h3>
    </div>       
  </div>
</section>