<section class="page">
  <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"> </iframe>
  <form id="quiz" method="post" action="https://docs.google.com/a/macros/quincyapparel.com/exec?service=AKfycbwf-6oIEtvPBwRElOrqPHSWRczWGaEZh9OAvgIa" target="hidden_iframe">
    <h1>The Quincy Fit Quiz</h1>
    <h4>Take our short quiz to find your Quincy size!</h4>
    <div class="page1">
      <h3>Your measurements:</h3>
      <div class="quincy">
        <p>In tops that fit you well in the shoulders and arms, what size do you typically wear<br />
 in brands like J. Crew, Ann Taylor or Banana Republic?</p>
        <p>Size</p>
        <div class="select-box fq">
            <a class="field">
	          <span class="info">Select</span>
	          <img src="{{'down-triangle.gif' | asset_url }}" />
	        </a>
          <ul class="selector">
	          <li>Select</li>
	          <li>00</li>
	          <li>0</li>
	          <li>2</li>
	          <li>4</li>
	          <li>6</li>
	          <li>8</li>
	          <li>10</li>
	          <li>12</li>
	          <li>14</li>
	          <li>16</li>
	          <li>18</li>
	          <li>20</li>
	          <li>22</li>
	          <li>24+</li>
          </ul>
        </div>
        <select name="dress_size" id="dress_size" class="page1">
          <option value="select" selected="selected">Select</option>
          <option value="00">00</option>
          <option value="0">0</option>
          <option value="2">2</option>
          <option value="4">4</option>
          <option value="6">6</option>
          <option value="8">8</option>
          <option value="10">10</option>
          <option value="12">12</option>
          <option value="14">14</option>
          <option value="16">16</option>
          <option value="18">18</option>
          <option value="20">20</option>
          <option value="22">22</option>
          <option value="24+">24+</option>
        </select>
        <p>What's the size of your best fitting bra?</p>
        <p>Bust Size</p>
        <div class="select-box fq">
	        <a class="field">
	          <span class="info">Select</span>
	          <img src="{{'down-triangle.gif' | asset_url }}" />
	        </a>
          <ul class="selector">
          	<li>Select</li>
          	<li>30</li>
          	<li>32</li>
          	<li>34</li>
          	<li>36</li>
          	<li>38</li>
          	<li>40</li>
          	<li>42</li>
          	<li>44</li>
          	<li>46+</li>
          </ul>
        </div>
        <select name="bust_size" id="bust_size" class="page1">
          <option value="select" selected="selected">Select</option>
          <option value="30">30</option>
          <option value="32">32</option>
          <option value="34">34</option>
          <option value="36">36</option>
          <option value="38">38</option>
          <option value="40">40</option>
          <option value="42">42</option>
          <option value="44">44</option>
          <option value="46+">46+</option>
        </select>
        <p>Cup Size</p>
        <div class="select-box fq">
	        <a class="field">
	          <span class="info">Select</span>
	          <img src="{{'down-triangle.gif' | asset_url }}" />
	        </a>
          <ul class="selector">
          	<li>Select</li>
          	<li>AA</li>
          	<li>A</li>
          	<li>B</li>
          	<li>C</li>
          	<li>D</li>
          	<li>DD</li>
          	<li>E</li>
          	<li>F</li>
          	<li>G+</li>
          </ul>
        </div>
        <select name="cup_size" id="cup_size" class="page1">
          <option value="select" selected="selected">Select</option>
          <option value="AA">AA</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="DD">DD</option>
          <option value="E">E</option>
          <option value="F">F</option>
          <option value="G+">G+</option>
        </select>
        <p>In pants or skirts that fit your hips and thighs, what size do you typically wear<br />
in brands like J. Crew, Ann Taylor or Banana Republic?</p>
        <p>Size</p>
        <div class="select-box fq">
	        <a class="field">
	          <span class="info">Select</span>
	          <img src="{{'down-triangle.gif' | asset_url }}" />
	        </a>
          <ul class="selector">
          	<li>Select</li>
          	<li>00</li>
          	<li>0</li>
          	<li>2</li>
          	<li>4</li>
          	<li>6</li>
          	<li>8</li>
          	<li>10</li>
          	<li>12</li>
          	<li>14</li>
          	<li>16</li>
          	<li>18</li>
          	<li>20</li>
          	<li>22</li>
          	<li>24+</li>
          </ul>
        </div>
        <select name="pant_size" id="pant_size" class="page1">
          <option value="select" selected="selected">Select</option>
          <option value="00">00</option>
          <option value="0">0</option>
          <option value="2">2</option>
          <option value="4">4</option>
          <option value="6">6</option>
          <option value="8">8</option>
          <option value="10">10</option>
          <option value="12">12</option>
          <option value="14">14</option>
          <option value="16">16</option>
          <option value="18">18</option>
          <option value="20">20</option>
          <option value="22">22</option>
          <option value="24+">24+</option>
        </select>
      </div><!--IMPORTANT DIV FOR QUINCY CLASS -->
      <div id="height-weight">
			  <div class="select-box fq">
				  <a class="field">
				    <span class="info">Select</span>
				    <img src="{{'down-triangle.gif' | asset_url }}" />
				  </a>
				  <ul class="selector">
				  	<li>Select</li>
				  	<li>4</li>
				  	<li>5</li>
				  	<li>6</li>
				  </ul>
			  </div>
			  <select name="feet" id="feet" class="page1">
				  <option value="select" selected="selected">Select</option>
			    <option value="4">4</option>
			    <option value="5">5</option>
			    <option value="6">6</option>
			  </select>
			  <p>feet</p>
			  <div class="select-box fq">
				  <a class="field">
				    <span class="info">Select</span>
				    <img src="{{'down-triangle.gif' | asset_url }}" />
				  </a>
				  <ul class="selector">
				  	<li>Select</li>
				  	<li>0</li>
				  	<li>1</li>
				  	<li>2</li>
				  	<li>3</li>
				  	<li>5</li>
				  	<li>6</li>
				  	<li>7</li>
				  	<li>8</li>
				  	<li>9</li>
				  	<li>10</li>
				  	<li>11</li>
				  </ul>
			  </div>
			  <select name="inches" id="inches" class="page1">
			  	<option value="select" selected="selected">Select</option>
			  	<option value="0">0</option>
			  	<option value="1">1</option>
			  	<option value="2">2</option>
			  	<option value="3">3</option>
			    <option value="4">4</option>
			    <option value="5">5</option>
			    <option value="6">6</option>
			    <option value="7">7</option>
			    <option value="8">8</option>
			    <option value="9">9</option>
			    <option value="10">10</option>
			    <option value="11">11</option>
			  </select>
			  <p>inches</p>
			  <div class="select-box fq">
			  	<a class="field">
			  	  <span class="info">Select</span>
			  	  <img src="{{'down-triangle.gif' | asset_url }}" /></a>
			  	<ul class="selector">
			  		<li>Select</li>
			  		<li>< 100</li>
			  		<li>101-120</li>
			  		<li>121-140</li>
			  		<li>141-160</li>
			  		<li>161-180</li>
			  		<li>181-200</li>
			  		<li>> 200</li>
			  	</ul>
			  </div>
			  <select name="weight" id="weight" class="page1">
		  		<option value="select" selected="selected">Select</option>
		  		<option value="< 100">< 100</option>
		  		<option value="101-120">101-120</option>
		  		<option value="121-140">121-140</option>
		  		<option value="141-160">141-160</option>
		  		<option value="161-180">161-180</option>
		  		<option value="181-200">181-200</option>
		  		<option value="> 200">> 200</option>
		  	</select>
			  <p>pounds</p>
      </div> <!-- DIV #HEIGHT-WEIGHT -->

      <button class="groovierbutton next1" type="button">Next Page</button>
			<span class="validation">Please fill out all the fields above.</span>
    </div> <!-- PAGE 1 DIV -->
    <div class="page2">
  	  <button class="groovierbutton previous1" type="button">Previous Page</button>
      <h3>Fit issues:</h3>

      <div class="quincy">
        <p>Do you have any of these fit issues when jackets/blazers fit your shoulders and arms?</p>
        <p>Bust, dart, button placement</p>
  
        <div class="radio" id="dart">
          <input type="radio" name="dart" value="1"> Not an issue<br />
          <input type="radio" name="dart" value="2"> Difficult to button because bust is large, not enough coverage<br />
          <input type="radio" name="dart" value="3"> When buttoned, front of garment rides up and chest gapes open<br />
          <input type="radio" name="dart" value="4"> Button and bust/dart placement are too high for body proportion<br />
          <input type="radio" name="dart" value="5"> Extra room in bust, but jacket lies flat and doesn't gape<br />
        </div>
        <p>Sleeve length</p> 
        <div class="radio" id="sleeve">
          <input type="radio" name="sleeve" value="1"> Not an issue<br />
          <input type="radio" name="sleeve" value="2"> Too short<br />
          <input type="radio" name="sleeve" value="3"> Too long<br />
        </div>
        <p>Torso length</p>
        <div class="radio" id="torso">
          <input type="radio" name="torso" value="1"> Not an issue<br />
          <input type="radio" name="torso" value="2"> Too short<br />
          <input type="radio" name="torso" value="3"> Too long<br />
        </div>
			  <button class="groovierbutton next2" type="button">Next Page</button>
			  <span class="validation">Please fill out all the fields above.</span>
      </div>
    </div> <!-- PAGE 2 DIV -->
    <div class="page2_5">
  	  <button class="groovierbutton previous2" type="button">Previous Page</button>
      <h3>Fit issues:</h3>

      <div class="quincy">
        <p>Would you define your lower body shape as (select one):</p>
        <div id="pants0" class="radio">
          <input type="radio" name="pants0" value="1"> Straight from waist to hip<br />
          <input type="radio" name="pants0" value="2"> Defined waist with slightly rounder hips<br />
          <input type="radio" name="pants0" value="3"> Much smaller waist than hips and thighs<br />
	      </div>
        <p>Do you have any of these fit issues when pants fit you through the hips?</p>
        <p>Pants fit well through the hips and thighs, but are too tight in the waist</p>
        <div id="pants1" class="radio">
          <input type="radio" name="pants1" value="1"> Sometimes<br />
          <input type="radio" name="pants1" value="2"> Always<br />
          <input type="radio" name="pants1" value="3"> Never<br />
			  </div>
        <p class="problem-child">Pants gap at waistband</p>
        <div id="pants2" class="radio">
          <input type="radio" name="pants2" value="1"> Sometimes<br />
          <input type="radio" name="pants2" value="2"> Always<br />
          <input type="radio" name="pants2" value="3"> Never<br />
			  </div>
        <p>Not enough coverage in the back</p>
        <div id="pants3" class="radio">
          <input type="radio" name="pants3" value="1"> Sometimes<br />
          <input type="radio" name="pants3" value="2"> Always<br />
          <input type="radio" name="pants3" value="3"> Never<br />
			  </div>
        <p>Too tight in the thighs</p>
        <div id="pants4" class="radio">
          <input type="radio" name="pants4" value="1"> Sometimes<br />
          <input type="radio" name="pants4" value="2"> Always<br />
          <input type="radio" name="pants4" value="3"> Never<br />
			  </div>
        <div id="pants-fit">
          <select name="pants-fit">
            <option value="Straight">Straight</option>
            <option value="Curvy">Curvy</option>
            <option value="Classic">Classic</option>
          </select>
	      </div>
			  <input type="button" class="groovierbutton next2_5" name="add" value="Get my quincy size">
			  <span class="validation">Please fill out all the fields above.</span>
      </div>
    </div> <!-- END PAGE 2.5 -->
    <div class="page3">
	    <button class="groovierbutton previous2_5" type="button">Previous Page</button>
	    <h1>Your Quincy Size is:</h1>
	    <section>
	    	<div id="primary"></div>
	    	<div id="rec_1"></div>
	    	<div id="rec_2"></div>
	    	<div id="rec_3"></div>
	    	<div id="pant_rec"></div>
	    </section>
	    <span class="hagrid">We currently do not carry your size, but plan to add more sizes in the future. Send us an email at info@quincyapparel.com with your size information if you'd like us to contact you as soon as your size is available.</span>
	    <span class="dress-warning">For better fit through the hips, we recommend ordering one bust size up in dresses.</span>
	    <p>Questions? Our fit specialists are here to help you find your Quincy fit.</p>
    </div>
    <h3 class="page-number">1 of 3</h3>
  </form>
</section>
