<!-- MAKE EMPTY COLLECTION CALLED LOOKS THAT USES THIS TEMPLATE -->
<section class="collection_looks">
  <img class="hero" src="{{ 'looks1.jpg' | asset_url }}" />
    <ul>
      {% for item in collections.looks1.products %}
        <li>
          <a href="{{ item.url }}" title="{{ item.id | escape }} &mdash; {{ item.description | strip_html }}">
            <img src="{{ item.images.first | product_img_url: 'large' }}" alt="{{ item.title | escape }}" />
          </a>
          <div>
            <a href="{{ item.url }}">
              {{ item.title }}
            </a>
            <span class="money">{{ item.price | money | remove: '.00' }}</span>
            {% include'add-to-cart' %}
          </div>
        </li>
      {% endfor %}
    </ul>
  <img class="hero" src="{{ 'looks2.jpg' | asset_url }}" />
    <ul>
      {% for product in collections.looks2.products %}
        <li>
          <a href="{{ product.url }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
            <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
          </a>
          <div>
            <a href="{{ product.url }}">
              {{ product.title }}  
            </a>
            <span class="money">{{ product.price | money | remove: '.00' }}</span>
          </div>
        </li>
      {% endfor %}
    </ul>
</section>