{% include 'rich-snippet' %}
<section class="slide_show">
  <div class="buy-container">
    <div class="buy-menu">
      
      <h3>{{ product.title }}</h3>
      <h4> &ldquo;{{ product.description }}&rdquo;</h4>
      <div class="lower-container">
        <div class="swatch">
          <span>{{ product.price | money | remove: '.00' }}</span>   
          {% include 'swatch' %}  
          <p class="color"></p>        
        </div>
        <a class="swatch" href="#" title="Swatch Detail">Swatch Detail</a>
        <form action="/cart/add" method="post" class="variants" id="product-actions">
          <div class="options">
            <select id="product-select" name="id">
              {% for variant in product.variants %}
              <option value="{{ variant.id }}">
                {{ variant.title | escape }}
              </option>
              {% endfor %}
            </select>
            <div class="pselect-box top">
              <a class="field">
                <span class="info">Select</span>
                <img src="{{'down-triangle.gif' | asset_url }}" />
              </a>
              <ul class="selector_0 selector"></ul>
            </div>
            <div class="pselect-box bottom">
              <a class="field">
                <span class="info">Select</span>
                <img src="{{'down-triangle.gif' | asset_url }}" />
              </a>
              <ul class="selector_1 selector"></ul>  
            </div>          
            <div class="fits-like">
              <p>Fits like a 2 from J. Crew and Ann Taylor</p>
              <p>Fits like a 4 from J. Crew and Ann Taylor</p>
              <p>Fits like a 6 from J. Crew and Ann Taylor</p>
              <p>Fits like a 8 from J. Crew and Ann Taylor</p>
              <p>Fits like a 10 from J. Crew and Ann Taylor</p>
            </div>
            <a class="size-chart" href="#" title="Size Charts">Size Charts</a> 
          </div>            
            
          <div id="purchase">                               
            <input type="button" onclick="purchaseItem('product-actions');" name="add" id="add-to-cart" value="Add to Bag" />
            {% include 'pre-order-delay' %}
          </div>
        </form>
        <a id="take-fit-quiz" class="fit-quiz" href="#" title="Fit Quiz">Find your perfect fit ></a>
      </div>
    </div>
  </div>  <!-- BUY MENU -->
  <div id="slideshow">  
  	<ul class="slides">
      {% for image in product.images %}	
    	 {% unless forloop.first %}
        <li><img src="{{ image | product_img_url: 'original' }}" alt="{{ product.title }}" title="{{ product.title }}" /></li>
      {% endunless %} 
      {% endfor %}
    </ul>
    <nav>
      <span class="arrow previous"></span>
      <ul class="indices">
      	{% for image in product.images %}	
      	 {% unless forloop.first %}
          <li>Index</li>
        {% endunless %} 
        {% endfor %}
      </ul>
      <span class="arrow next"></span>
    </nav>
  </div>
  <div class="swatch-popup">
    <a href="#" class="swatch_close">X</a>
    {% include 'swatch-window' %}
  </div>
</section>  <!-- MAIN SLIDESHOW AND BUY MENU -->

<section class="love_it">
  <div>
    <h1>Why we love it</h1>
    <h3>See a week in the life of the</h3>
    <a class="week_in_life" href="http://blog.quincyapparel.com/" title="Blog">
      {{ product.title }} >
    </a>
  </div>  <!-- 1. WHY WE LOVE THIS -->
  
  {% capture love_it %}{{ product.handle }}-love.jpg{% endcapture %}
  <img src="{{ love_it | asset_url }}" alt="Love it">

  <div>
    {% include 'love_it_details' %}
    <div class="about_product">
      <section>
        <h3 name="div.details_dropdown">Details <span>+</span></h3>
        <div class="details_dropdown details">
          
          {% include 'details_dropdown' %}
          
        </div><!-- .details_dropdown -->
      </section> 
      <section>
        <h3 name="div.fit_dropdown">Measurements <span>+</span></h3>
        <div class="fit_dropdown details">
          {% include 'measurements' %}
        </div><!-- .fit_dropdown -->
      </section>
      <section>
        <h3 name="div.reviews_dropdown">Reviews <span>+</span></h3>
      </section>
    </div>
  </div>  <!-- 3. DESCRIPTION AND DETAILS -->
</section>  <!-- WHY WE LOVE THIS AND PRODUCT DETAILS -->

<div class="reviews_dropdown details">
  <div class="grad_down"></div>
  <div class="reviews"> 
    <div class="pr_review_summary">
      <script async type="text/javascript">
        POWERREVIEWS.display.engine(document, { pr_page_id : "{{product.id}}" });
      </script>
    </div>
  </div><!-- .reviews_dropdown -->
  <div class="grad_up"></div>
</div><!-- #reviews -->

<section class="wear_it">
  {% include 'slideshow_2' %}
  <div class="wear_details">
    <h1>How we like to wear it</h1>
    {% include 'wear_details' %}
  </div>
</section>  <!-- HOW WE LIKE TO WEAR IT -->
{% capture recommended %}{{ product.id }}-recommend{% endcapture %}
<section class="wear_with">
  <h4>What we wear it with</h4>
  <ul>    
    {% for product in collections[recommended].products %}	
      <li>
        <a href="{{ product.url | within: 'collection' }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
          <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
        </a>
        <span>{{ product.title }}</span>
      </li> 
    {% endfor %}
  </ul>
</section>  <!-- WHAT WE WEAR IT WITH -->
<section class="continue_shopping">
  <span>Continue Shopping</span>
  {% include 'continue_shopping_quote' %}
</section>
<section class="page size-chart">
  <a href="#" class="size_chart_close">Close</a>
  
  <div class="tops size-chart">
    <h1>Size Charts</h1>
    <p>Quincy top sizes take into account the three most important body dimensions for fit: <span>bust</span>, <span>cup size</span>, and <span>length</span>. Our pants and skirts are sized by <span>waist</span> and <span>length</span>.</p>
    <div class="dresses size-chart">
      <section>
        <h2>Blazers, Blouses, &amp; Dresses</h2>
        <table>
          <tr>
            <td><span>Quincy Size</span></td>
            <td>32 A/B</td>
            <td>32 C/D</td>
            <td>34 A/B</td>
            <td>34 C/D</td>
            <td>36 A/B</td>
            <td>36 C/D</td>
            <td>38 A/B</td>
            <td>38 C/D</td>
            <td>40 A/B</td>
            <td>40 C/D</td>
          </tr>
          <tr>
            <td><span>Dress Size</span></td>
            <td colspan="2">00 - 0</td>
            <td colspan="2">2 - 4</td>
            <td colspan="2">6 - 8</td>
            <td colspan="2">10 - 12</td>
            <td colspan="2">14</td>
          </tr>
          <tr>
            <td><span>Bust</span></td>
            <td>31.5 - 32.5</td>
            <td>33 - 34</td>
            <td>33.5 - 34.5</td>
            <td>35 - 36</td>
            <td>35.5 - 36.5</td>
            <td>37 - 38</td>
            <td>37.5 - 39</td>
            <td>39 - 40.5</td>
            <td>40.5</td>
            <td>42</td>
          </tr>
          <tr>
            <td><span>Waist</span></td>
            <td colspan="2">24 - 25</td>
            <td colspan="2">26 - 27</td>
            <td colspan="2">28 - 29</td>
            <td colspan="2">30 - 31.5</td>
            <td colspan="2">33</td>
          </tr>
        </table>
      </section>
      <section>
        <h2 class="level3">Cup size</h2>
        <ul>
          <li>We currently offer two cup sizes</li>
          <li><span>A/B</span> &mdash; For women who wear a B-cup or smaller</li>
          <li><span>C/D</span> &mdash; For women who wear a C-, D-, or DD-cup</li>
        </ul>
      </section>
      <section>
        <h2 class="level3">Length</h2>
        <ul>
          <li>Our blazers, blouses, and dresses are offered in three sleeve/torso lengths</li>
          <li><span>Regular</span> is the standard length</li>
          <li><span>Petite</span> is recommended for women under 5'4", and also for women with short torsos</li>
          <li><span>Tall</span> is recommended for women over 5’9", as well as women who have longer torsos</li>
        </ul>
      </section>
  </div>
  <div class="bottoms size-chart">
    <section>
      <h2>Pants &amp; Skirts</h2>
      <table>
        <tr>
          <td><span>Traditional Size</span></td>
          <td>00</td>
          <td>0</td>
          <td>2</td>
          <td>4</td>
          <td>6</td>
          <td>8</td>
          <td>10</td>
          <td>12</td>
          <td>14</td>
          <td>16</td>
        </tr>
        <tr>
          <td><span>Quincy Size</span></td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31</td>
          <td>32</td>
          <td>33</td>
        </tr>
      </table>
    </section>
    <section>
      <h2 class="level3">Length</h2>
      <ul>
        <li>We offer all our pants and skirts in 3-4 inseam lengths, to accommodate short-legged and long-legged women alike</li>
        <li>Pants are also available unhemmed if you prefer to have them hemmed yourself</li>
        <li>Inseam lengths for specific products can be found by looking at measurements on the product's page</li>
      </ul>
    </section>
  </div>
  </div>
</section>