{% include 'rich-snippet' %}
<section class="slide_show">
  <div class="buy-container">
    <div class="buy-menu">
      
      <h3 class="product-title">{{ product.title }}</h3>
      <h4 class="serif-thin"> &ldquo;{{ product.description }}&rdquo;</h4>
      <div class="lower-container">
        <div class="swatch">
          <span class="product-price normal serif">{{ product.price | money | remove: '.00' }}</span>   
          {% include 'swatch' %}  
          <p class="color"></p>        
        </div>
        <a class="swatch small-link blue" href="#" title="Swatch Detail">Swatch Detail</a>
        <form action="/cart/add" method="post" class="variants" id="product-actions">
          <div class="options"> 
            <select id="product-select" name="id">
              {% for variant in product.variants %}
              <option value="{{ variant.id }}">
                {{ variant.title | escape }}
              </option>
              {% endfor %}
            </select>
            <div class="pselect-box top">
              <a class="field">
                <span class="info nudge-down">Select</span>
                <img src="{{'down-triangle.gif' | asset_url }}" />
              </a>
              <ul class="selector_0 selector"></ul>
            </div>
            <div class="pselect-box bottom">
              <a class="field">
                <span class="info nudge-down">Select</span>
                <img src="{{'down-triangle.gif' | asset_url }}" />
              </a>
              <ul class="selector_1 selector"></ul>  
            </div>          
            <div class="fits-like">
              <p>Fits like a 0-00 from J. Crew and Ann Taylor</p>
              <p>Fits like a 2-4 from J. Crew and Ann Taylor</p>
              <p>Fits like a 6-8 from J. Crew and Ann Taylor</p>
              <p>Fits like a 10-12 from J. Crew and Ann Taylor</p>
              <p>Fits like a 14 from J. Crew and Ann Taylor</p>
            </div>
            <a class="js-size-chart small-link blue no-margin" href="#" title="Size Charts">Size Charts</a> 
          </div>            
            
          <div id="purchase">    
            <input type="button" onclick="pageTracker._trackEvent('Button', 'Buy', 'Product Page');" name="add" id="add-to-cart" value="Add to Bag" class="js-buy-button"/>
            {% include 'pre-order-delay' %}
          </div>
        </form>
        <a class="fit-quiz take-fit-quiz" href="#" title="Fit Quiz">Take the Fit Quiz ></a>
      </div>
    </div>
  </div>  <!-- BUY MENU -->
  <div id="slideshow">  
      <ul class="slides">
      {% for image in product.images %}    
    	 {% unless forloop.first %}
        <li><img src="{{ image | product_img_url: 'original' }}" alt="{{ product.title }}" title="{{ product.title }}" /></li>
      {% endunless %} 
      {% endfor %}
    </ul>
    <nav>
      <span class="arrow previous"></span>
      <ul class="indices">
      	{% for image in product.images %}	
      	 {% unless forloop.first %}
          <li>Index</li>
        {% endunless %} 
        {% endfor %}
      </ul>
      <span class="arrow next"></span>
    </nav>
  </div>
  <div class="swatch-popup">
    <a href="#" class="swatch_close close">X</a>
    {% include 'swatch-window' %}
  </div>
</section>  <!-- MAIN SLIDESHOW AND BUY MENU -->

<section class="love_it">
  <div class="float-l">
    <h1 class="serif">Why we love it</h1>
    {% include 'how_to_style' %}
  </div>  <!-- 1. WHY WE LOVE THIS -->
  
  {% capture love_it %}{{ product.handle }}-love.jpg{% endcapture %}
  <img class="float-l" src="{{ love_it | asset_url }}" alt="Love it">

  <div class="float-l">
    {% include 'love_it_details' %}
    <div class="about_product">
      <section>
        <h3 class="js-details-accordion blue hover" data-name=".details_dropdown">Details <span class="js-plus">+</span></h3>
        <div class="details_dropdown details">
          
          {% include 'details_dropdown' %}
          
        </div><!-- .details_dropdown -->
      </section> 
      <section>
        <h3 class="js-details-accordion blue hover" data-name=".fit_dropdown">Measurements <span class="js-plus">+</span></h3>
        <div class="fit_dropdown details">
          {% include 'measurements' %}
        </div><!-- .fit_dropdown -->
      </section>
      <section>
        <h3 class="js-details-accordion blue hover" data-name=".reviews_dropdown">Reviews <span class="js-plus">+</span></h3>
      </section>
    </div>
  </div>  <!-- 3. DESCRIPTION AND DETAILS -->
</section>  <!-- WHY WE LOVE THIS AND PRODUCT DETAILS -->

<div class="reviews_dropdown details">
  <div class="grad_down"></div>
  <div class="reviews"> 
    <div class="pr_review_summary">
      <script async type="text/javascript">
        POWERREVIEWS.display.engine(document, { pr_page_id : "{{product.id}}" });
      </script>
    </div>
  </div><!-- .reviews_dropdown -->
  <div class="grad_up"></div>
</div><!-- #reviews -->

<section class="wear_it">
  {% include 'slideshow_2' %}
  <div class="wear_details float-l">
    <h1 class="serif">How we like to wear it</h1>
    {% include 'wear_details' %}
  </div>
</section>  <!-- HOW WE LIKE TO WEAR IT -->
{% capture recommended %}{{ product.id }}-recommend{% endcapture %}
<section class="wear_with">
  <h4 class="serif-thin">What we wear it with</h4>
  <ul>    
    {% for product in collections[recommended].products %}	
      <li>
        <a href="{{ product.url | within: 'collection' }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html }}">
          <img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
        </a>
        <span>{{ product.title }}</span>
      </li> 
    {% endfor %}
  </ul>
</section>  <!-- WHAT WE WEAR IT WITH -->
<section class="continue_shopping">
  <span>Continue Shopping</span>
  {% include 'continue_shopping_quote' %}
</section>
<section class="page size-chart js-modal-container">
  <a href="#" class="close js-modal-close size-chart-x">Close</a>
  <div class="tops size-chart">
    <h1 class="serif no-spacing">Size Charts</h1>
    <div class="dresses size-chart">
      <section>
        <h2 class="serif no-spacing">Blazers, Blouses, &amp; Dresses</h2>
        <p>Quincy top sizes take into account the three most important body dimensions for fit: <span class="blue sans-bold">bust</span>, <span class="blue sans-bold">cup size</span>, and <span class="blue sans-bold">length</span>.</p>
        <table>
          <tr>
            <td><span>Quincy Size</span></td>
            <td>32 A/B</td>
            <td>32 C/D</td>
            <td>34 A/B</td>
            <td>34 C/D</td>
            <td>36 A/B</td>
            <td>36 C/D</td>
            <td>38 A/B</td>
            <td>38 C/D</td>
            <td>40 A/B</td>
            <td>40 C/D</td>
          </tr>
          <tr>
            <td><span>Dress Size</span></td>
            <td colspan="2">00 - 0</td>
            <td colspan="2">2 - 4</td>
            <td colspan="2">6 - 8</td>
            <td colspan="2">10 - 12</td>
            <td colspan="2">14</td>
          </tr>
          <tr>
            <td><span>Bust</span></td>
            <td>31.5 - 32.5</td>
            <td>33 - 34</td>
            <td>33.5 - 34.5</td>
            <td>35 - 36</td>
            <td>35.5 - 36.5</td>
            <td>37 - 38</td>
            <td>37.5 - 39</td>
            <td>39 - 40.5</td>
            <td>40.5</td>
            <td>42</td>
          </tr>
          <tr>
            <td><span>Waist</span></td>
            <td colspan="2">24 - 25</td>
            <td colspan="2">26 - 27</td>
            <td colspan="2">28 - 29</td>
            <td colspan="2">30 - 31.5</td>
            <td colspan="2">33</td>
          </tr>
        </table>
      </section>
      <section>
        <h2 class="level3 no-spacing">Cup size</h2>
        <ul>
          <li>We currently offer two cup sizes</li>
          <li><span class="blue sans-bold">A/B</span> &mdash; For women who wear a B-cup or smaller</li>
          <li><span class="blue sans-bold">C/D</span> &mdash; For women who wear a C-, D-, or DD-cup</li>
        </ul>
      </section>
      <section>
        <h2 class="level3 no-spacing">Length</h2>
        <ul>
          <li>Our blazers, blouses, and dresses are offered in three sleeve/torso lengths</li>
          <li><span class="blue sans-bold">Regular</span> is the standard length</li>
          <li><span class="blue sans-bold">Petite</span> is recommended for women under 5'4", and also for women with short torsos</li>
          <li><span class="blue sans-bold">Tall</span> is recommended for women over 5’9", as well as women who have longer torsos</li>
        </ul>
      </section>
  </div>
  <div class="bottoms size-chart">
    <section>
      <h2 class="serif no-spacing">Pants &amp; Skirts</h2>
      <p>Our pants and skirts are sized by <span class="blue sans-bold">waist</span> and <span class="blue sans-bold">length</span>.</p>
      <table>
        <tr>
          <td><span>Traditional Size</span></td>
          <td>00</td>
          <td>0</td>
          <td>2</td>
          <td>4</td>
          <td>6</td>
          <td>8</td>
          <td>10</td>
          <td>12</td>
          <td>14</td>
          <td>16</td>
        </tr>
        <tr>
          <td><span>Quincy Size</span></td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31</td>
          <td>32</td>
          <td>33</td>
        </tr>
        <tr>
          <td><span>Natural Waist</span></td>
          <td>24.5</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31.5</td>
          <td>33</td>
          <td>34.5</td>
        </tr>
        <tr>
          <td><span>Low Hip</span></td>
          <td>34.5</td>
          <td>35</td>
          <td>36</td>
          <td>37</td>
          <td>38</td>
          <td>39</td>
          <td>40</td>
          <td>41.5</td>
          <td>43</td>
          <td>44.5</td>
        </tr>
      </table>
    </section>
    <section>
      <h2 class="level3 no-spacing">Length</h2>
      <ul>
        <li class="shorten-width">We offer all our pants and skirts in 3-4 lengths, to accommodate short-legged and long-legged women alike</li>
        <li class="shorten-width">Pants are also available unhemmed if you prefer to have them hemmed yourself</li>
        <li class="shorten-width">Lengths for specific products can be found by looking at <span class="blue sans-bold">MEASUREMENTS +</span> on each product's page</li>
      </ul>
    </section>
  </div>
  </div>
</section>
<section class="modal second-size-modal js-modal-container">
  <div class="modal-div">
    <h1 class="serif modal-header">Try a Second Size</h1>
    <p class="em-top">Want to try an additional size, for free? Leave us a comment when you checkout with your Second Size request to try at home!</p>
    <button class="second-size-modal float-r no-margin bg-blue js-modal-close">CLOSE</button>
  </div>
</section>
<section class="modal notify-me js-modal-container">
  <a class="close little-space js-modal-close" href="#">Close</a>
  <div class="modal-div">
    <h1 class="serif modal-header">When will my size be available?</h1>
    <p class="em-top">Submit your email address below, and we'll contact you when your size is back in stock!</p>
    <label class="label-bump" for="email">Email</label>
    <input class="input js-notify-email" type="text" name="email" value="">
    <p class="em-top pink js-invalid-email">Please enter a valid email address</p>
    <input type="button" class="js-notify-me float-r no-margin bg-blue" value="Submit">
  </div>
</section>
<section class="modal notify-me-success js-modal-container">
  <div class="modal-div">
    <h1 class="serif modal-header">Email Submitted!</h1>
    <p class="em-top">We will let you know as soon as your size is available. Thank you!</p>
    <button class="float-r no-margin bg-blue js-modal-close">CLOSE</button>
  </div>
</section>
<section class="modal bottoms-quantity">
  {% for variant in product.variants offset:1 %}
    {{ variant.inventory_quantity }},
  {% endfor %}
</section>